/**
 * 0.2 Deprecated
 *
 * These styles or selectors have been deprecated and will be removed from
 * future versions. Stop targeting these rules and update any markup that relies
 * on these styles.
 *
 * @since 0.9.0
 */

/**
 * Deprecated Builder Page Styles
 *
 * Stop-gap styles targeting Builder Template pages for until the Builder
 * template is phased out.
 *
 * @since 0.17.0
 */

.page-template-template-builder {

	.h1-header {
		padding-bottom: 3rem;
	}
}

@media (min-width: $large) {

	.page-template-template-builder {

		div.page .row.single .column {
			width: 70%;
		}

		div.page .row.single.builder-section-banner .column,
		div.page .row.single.full-width .column {
			width: 100%;
		}
	}

}

/**
 * Deprecated Builder Banner Styles
 *
 * @since 0.11.0
 */

.builder-banner-overlay,
.builder-section-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
}

.builder-banner-overlay,
.builder-section-overlay {
	z-index: -1;
}

.builder-banner-slide {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: none;
}

.builder-banner-slide.first-slide {
	display: block;
}

.builder-section-banner {

	// Something between Builder and Gutenberg litters markup with empty p tags.
	p:empty {
		display: none;
	}

	.builder-banner-content {
		background-color: #fff;
		background-color: rgba(255, 255, 255, .9);
		border: none;
		box-sizing: border-box;
		color: #fff;
		display: block;
		height: auto;
		left: 50%;
		line-height: 1.35;
		overflow: hidden;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}

	.builder-banner-inner-title {
		color: $brand-crimson;
		font-size: 1.5rem;
		font-weight: 600;
		padding: 1rem;
	}

	.builder-banner-inner-content {
		display: flex;
		flex: 1;
		flex-direction: column;
		font-size: 1rem;
		justify-content: flex-start;
		overflow: hidden;

		p {
			color: $text-color;
			margin-top: 1px;
			padding: 0 1rem 1rem;
		}

	}

	.content-position-none .builder-banner-content {
		text-align: center;
	}

	.content-position-right .builder-banner-content {
		text-align: right;
	}

	.content-position-left {
		background-position: center right;
	}

	.content-position-right {
		background-position: center left;
	}

	.cycle-pager {
		font-size: 40px;
		font-size: 4rem;
		line-height: 1;
		text-align: center;
		user-select: none;
	}

	.cycle-pager span {
		cursor: pointer;
	}

	.cycle-pager .cycle-pager-active {
		color: #b9bcbf;
	}

	.cycle-prev,
	.cycle-next {
		cursor: pointer;
		height: 4rem;
		margin-top: -2rem;
		position: absolute;
		top: 50%;
		z-index: 999;
	}

	.cycle-pager ~ .cycle-prev,
	.cycle-pager ~ .cycle-next {
		margin-top: -4rem;
	}

	.cycle-prev:before,
	.cycle-next:before {
		background: url(../images/icons/arrow.svg);
		background-position: center 100%;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: inline-block;
		height: 2.5em;
		margin: .5em 0 0;
		width: 2.5em;
		position: relative;
		filter: invert(100%);
	}

	.cycle-prev:before {
		left: 32px;
		transform: rotate(180deg);
	}

	.cycle-next {
		right: 0;
	}

	.cycle-next:before {
		right: 32px;
	}

}

@media (min-width: $large) {

	.builder-section-banner .builder-banner-content {
		width: 80%;
	}

	.builder-banner-overlay,
	.builder-section-overlay {
		background-color: rgba(0, 0, 0, .4);
	}

	.builder-section-banner .cycle-prev,
	.builder-section-banner .cycle-next {
		opacity: .75;
	}

	.builder-section-banner .builder-banner-inner-title {
		font-size: 2rem;
	}

	.builder-section-banner .builder-banner-inner-content {
		font-size: 1.25rem;
	}

	.builder-section-banner:hover .cycle-prev,
	.builder-section-banner:hover .cycle-next,
	.builder-section-banner:focus .cycle-prev,
	.builder-section-banner:focus .cycle-next {
		opacity: 1;
	}

}

@media (max-width: $large) {

	.builder-section-banner .cycle-prev:before,
	.builder-section-banner .cycle-next:before {
		height: 2em;
		margin: 1em -.4em 0;
		width: 2em;
	}

	.builder-section-banner .cycle-prev:before {
		left: .4rem;
	}

	.builder-section-banner .cycle-next:before {
		right: .4rem;
	}

}

.banner-container {

	/*
	 * Make banner repsect other elements' z-index values.
	 * Add this class to the Banner section classes on the edit post screen.
	 */
	z-index: 1;

}

/**
 *
 * Images
 *
 * @since 1.1.0
 */

/*
.featured-image {
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	display: block;
	z-index: 0;

	img {
		width: 100%;
		height: auto;
		border: none;
		display: none;
	}
}

.size-lt-medium img.size-medium.alignleft,
.size-lt-medium img.size-medium.alignright,
.size-lt-medium img.size-large.alignleft,
.size-lt-medium img.size-large.alignright {
	width: 100%;
	height: auto;
	clear: both;
	float: none;
	margin: 1em 0;
}

.section-wrapper-has-background {
	min-height: 600px !important;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.has-background-image main {
	position: relative;
	background-color: transparent;
}
*/

/**
 * Classic Style Galleries
 *
 * @since 0.1.0
 */

.gallery-item {
	box-sizing: border-box;
	padding: 1rem;
}


.gallery img {
	border: 0;
	box-sizing: border-box;
	display: block;
	margin: 0 auto;
}


.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
	width: 50%;
}

@media (max-width: $medium) {

	.gallery-item:nth-child(odd) {
		padding-left: 0;
	}

	.gallery-item:nth-child(even) {
		padding-right: 0;
	}

}

@media (min-width: $medium) {

	.gallery-item {

		.gallery-columns-1 & {
			width: (100% / 1);
		}

		.gallery-columns-2 & {
			width: (100% / 2);
		}

		.gallery-columns-3 & {
			width: (100% / 3);
		}

		.gallery-columns-4 & {
			width: (100% / 4);
		}

		.gallery-columns-5 & {
			width: (100% / 5);
		}

		.gallery-columns-6 & {
			width: (100% / 6);
		}

		.gallery-columns-7 & {
			width: (100% / 7);
		}

		.gallery-columns-8 & {
			width: (100% / 8);
		}

		.gallery-columns-9 & {
			width: (100% / 9);
		}
	}
}

/**
 * 4.2 Columns
 */

@media only screen and (min-width: 640px) {

	.hrs-two-col {
		width: 47%;
		clear: none !important;
	}

	.hrs-1-of-4 {
		width: 23%;
	}

	.hrs-1-of-5 {
		width: 20%;
	}

	.hrs-2-of-5 {
		width: 40%;
	}

	.hrs-3-of-5 {
		width: 60%;
	}

	.hrs-4-of-5 {
		width: 80%;
	}

	.gform_wrapper .gfield_error.hrs-two-col {
		width: 47%;
	}
}

/**
 * Deprecated Embedded Content
 *
 * @since 1.1.0 Switch to WP block editor syntax and styles.
 */

/*
 * A flexible youtube embed container (default 16x9 aspect ratio)
 * Following techinque from Rachel McCollin's {@see http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/}
 * Which is itself based on Thierry Koblenz's {@see http://alistapart.com/article/creating-intrinsic-ratios-for-video}
 */

.embed-youtube {
	height: 0;
	margin-bottom: 1.4em;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;

	iframe,
	object,
	embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.youtube-4x3 {
	padding-bottom: 75%;
}
