/**
 * 1.0 Variables
 *
 * SASS variables for colors and sizes.
 *
 *   - 1.01 Colors
 *   - 1.02 Typography
 *   - 1.03 Breakpoints
 *
 * @since 0.11.0
 */

/**
 * 1.01 Colors
 *
 * @since 0.11.0
 */

$brand-crimson: #981e32;
$brand-gray: #5e6a71;

$accent-crimson: #c60c30;
$accent-green: #ada400;
$accent-orange: #f6861f;
$accent-blue: #00a5bd;
$accent-yellow: #ffb81c;

$neutral-blue: #aec7cb;
$neutral-dark: darken($brand-gray, 10%); /* #475055 */
$neutral-light: #eff0f1;

$dark-dark: #191919;

$text-color: $dark-dark;
$body-background-color: #f2f2f2;
$section-background-color: lighten($neutral-light, 5%); /* #fdfdfd */

$nav-color: $brand-crimson;
$nav-color-border: #da1e00;
$nav-color-hover: $accent-crimson;

/**
 * 1.02 Typography
 *
 * @since 0.11.0
 */

$sans-serif-fonts: "Source Sans Pro", "Lucida Sans", geneva, verdana, sans-serif;

/*
 * The font size steps.
 *
 * These use em units relative to the base context, which is 18px at desktop-
 * sized screens and 16px at smaller-sized screens. As such, all of the font
 * sizes adjust in proportion to each other. Using a 1.125 ratio for the steps.
 *
 * @since 0.11.0
 */

$font-size-0: .79em;
$font-size-1: .889em;
$font-size-base: 1em; /* 16px small || 18px large */
$font-size-2: 1.125em;
$font-size-3: 1.266em;
$font-size-4: 1.424em;
$font-size-5: 1.602em;
$font-size-6: 1.802em;
$font-size-7: 2.027em;
$font-size-8: 2.281em;

/**
 * 1.03 Breakpoints
 *
 * @since 0.11.0
 */

$small: 34em;     /* 544px @ 16px base */
$medium: 43em;    /* 688px @ 16px base */
$large: 61.875em; /* 990px @ 16px base */
