hr.wp-block-separator,
hr.wp-block-separator.has-text-color {
	background-color: var(--wp--custom--wsu-color-black--10);
	color: var(--wp--custom--wsu-color-black--10);
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	width: 5.5em;
}

.wp-block-separator.is-style-dots,
.wp-block-separator.is-style-dots.has-text-color {
	background-color: transparent;
	border: none;
	text-align: center;
	max-width: none;
	line-height: 1;
	height: auto;
}

.wp-block-separator.is-style-dots::before {
	content: "\00b7 \00b7 \00b7";
	color: var(--wp--custom--wsu-color-black--70);
	font-family: serif;
	font-size: 24px;
	letter-spacing: 2em;
}
