.wp-block-quote.wp-block-quote {
	background-color: var(--wp--custom--wsu-color-black--0);
	border-left: 4px solid var(--wp--custom--wsu-color-core--gray);
	font-family: var(--wp--custom--typography--font);
	margin-bottom: 1em;
	padding: 1em 2em;
	position: relative;
}

.wp-block-quote__citation {
	color: inherit;
	font-size: inherit;
	font-style: italic;
	text-transform: none;
}

.wp-block-quote__citation::before {
	content: "- ";
}

.wp-block-quote::before {
	color: var(--wp--custom--wsu-color-core--gray);
	content: "\201C";
	font-size: var(--wp--custom--typography--hugex);
	position: absolute;
	left: 10px;
	top: 0.5em;
}

.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
	font-size: var(--wp--preset--font-size--huge);
	font-style: italic;
	line-height: 1.5;
}
