.wp-block-quote {

	& cite {
		display: block;
		font-style: italic;
		padding-top: 1em;

		&::before {
			content: "- ";
		}
	}

	&.is-style-large cite,
	&.is-large cite {
		text-align: left;
	}

}

.wp-block-quote:not(.is-style-plain) {
	background-color: var(--wp--custom--wsu-color-black--0);
	border-left: 4px solid var(--wp--custom--wsu-color-core--gray);
	overflow-wrap: break-word;
	padding-top: 2em;
	padding-bottom: 0.75em;
	position: relative;

	&::before {
		color: var(--wp--custom--wsu-color-core--gray);
		content: "\201C";
		font-size: var(--wp--custom--typography--hugex);
		position: absolute;
		left: 10px;
		top: 0;
	}
}
