.wp-block-quote.wp-block-quote {
	background-color: var(--body-background-color);
	border-left: 4px solid var(--accent-crimson);
	font-family: var(--sans-serif-fonts);
	margin-bottom: 1em;
	padding: 1em 2em;
	position: relative;
}

/* stylelint-disable selector-class-pattern */
.wp-block-quote__citation {
	color: inherit;
	font-size: inherit;
	font-style: italic;
	text-transform: none;
}

.wp-block-quote__citation::before {
	content: "- ";
}
/* stylelint-enable selector-class-pattern */

.wp-block-quote::before {
	color: var(--accent-crimson);
	content: "\201C";
	font-size: var(--font-size-8);
	position: absolute;
	left: 10px;
	top: 0.5em;
}

.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
	font-size: var(--font-size-5);
	font-style: italic;
	line-height: 1.5;
}
