blockquote {
	font-family: var(--wp--custom--typography--font);
	margin-bottom: 1em;
	padding: 1.5em 1em;

	& p:last-of-type {
		padding: 0;
	}

	& cite {
		display: block;
		font-style: italic;
		padding-top: 1em;

		&::before {
			content: "- ";
		}
	}
}

.wp-block-quote:not(.is-style-plain) {
	background-color: var(--wp--custom--wsu-color-black--0);
	border-left: 4px solid var(--wp--custom--wsu-color-core--gray);
	overflow-wrap: break-word;
	padding-top: 2em;
	padding-bottom: 0.75em;
	position: relative;

	&::before {
		color: var(--wp--custom--wsu-color-core--gray);
		content: "\201C";
		font-size: var(--wp--custom--typography--hugex);
		position: absolute;
		left: 10px;
		top: 0;
	}

	&.is-style-large p,
	&.is-large p {
		font-size: var(--wp--preset--font-size--huge);
		font-style: italic;
		line-height: 1.5;
	}
}
