body {
	background-color: var(--section-background-color);
	color: var(--text-color);
	font-family: var(--sans-serif-fonts);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
}

@media (min-width: 791px) {

	body {
		font-size: 18px;
	}

}

.wp-block {
	max-width: calc(40em + 28px);
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
	max-width: 1180px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
	max-width: none;
}
