body .editor-styles-wrapper {
	color: var(--wp--custom--wsu-color-black--90);
	font-size: 16px;
	line-height: 1.5;
}

.editor-styles-wrapper .wp-block,
.editor-post-title__block .editor-post-title__input {
	font-family: var(--wp--custom--typography--font);
}

.wp-block {
	max-width: calc(45rem);
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"],
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .alignwide {
	max-width: 1180px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"],
.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .alignfull {
	max-width: none;
}
