body .editor-styles-wrapper {
	color: var(--wp--custom--wsu-color-black--90);
	font-size: 16px;
	line-height: 1.5;
}

/* stylelint-disable selector-class-pattern */
.editor-styles-wrapper .wp-block,
.editor-post-title__block .editor-post-title__input {
	font-family: var(--wp--custom--typography--font);
}
/* stylelint-enable selector-class-pattern */

@media (min-width: 791px) {

	body .editor-styles-wrapper {
		font-size: 18px;
	}

}

.wp-block {
	max-width: calc(45rem);
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
	max-width: 1180px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
	max-width: none;
}
