#jacket {
	overflow: hidden;
}

main,
.site-header {
	color: var(--wp--custom--wsu-color-black--90);
	word-wrap: break-word;
}

@media (min-width: 61.875em) {

	main section,
	main .page-header,
	.site-header {
		border-left: 8px solid var(--wp--custom--wsu-color-black--0);
	}

	.home #binder.spineless main section,
	.home #binder.spineless main .page-header,
	.home #binder.spineless .site-header {
		border-left: none;
	}

}
