#jacket {
	overflow: hidden;
}

main,
.site-header {
	color: var(--wp--custom--wsu-color-black--90);
	word-wrap: break-word;
}

@media (min-width: 61.875em) {

	main section,
	main .page-header,
	.site-header {
		border-left: 8px solid var(--wp--custom--wsu-color-black--0);
	}

	.home #binder.spineless main section,
	.home #binder.spineless main .page-header,
	.home #binder.spineless .site-header {
		border-left: none;
	}

}

body.environment-local,
body.environment-development,
body.environment-staging {
	margin-bottom: 3rem;

	&::after {
		content: "⚠️ Non-Production Environment";
		color: var(--wp--preset--color--light);
		text-align: center;
		background: var(--wp--preset--color--secondary-crimson);
		max-height: 3rem;
		width: 100%;
		position: fixed;
		font-weight: 700;
		bottom: 0;
		right: 0;
		padding: 1rem;
	}
}

body.environment-local::after {
	content: "🧪 Local Environment";
}

body.environment-development::after {
	content: "⚗️ Development Environment";
}

body.environment-staging::after {
	content: "🚀 Staging Environment";
}

@media (max-width: 989px) {

	body.environment-local.admin-bar::after {
		bottom: 32px;
	}

}

@media screen and (max-width: 782px) {

	body.environment-local.admin-bar::after {
		bottom: 46px;
	}

}
