#jacket {
	overflow: hidden;
}

main,
.site-header {
	color: var(--text-color);
	word-wrap: break-word;
}

main section,
main .page-header {
	background-color: var(--section-background-color);
}

@media (min-width: 61.875em) {

	main section,
	main .page-header,
	.site-header {
		border-left: 8px solid var(--body-background-color);
	}

	.home #binder.spineless main section,
	.home #binder.spineless main .page-header,
	.home #binder.spineless .site-header {
		border-left: none;
	}

}
