.wp-block-button {

	/* stylelint-disable selector-class-pattern */
	& .wp-block-button__link {
		background-color: var(--wp--preset--color--primary-crimson);
		border: 1px solid var(--wp--preset--color--primary-crimson);
		border-radius: 3px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: inherit;
		font-size: var(--wp--preset--font-size--normal);
		line-height: 1.5;
		overflow-wrap: break-word;
		padding: 0.75rem 1.5rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s ease;
		white-space: normal;

		&:hover,
		&:focus {
			background-color: #fff;
			border-color: var(--wp--preset--color--secondary-crimson);
			border-width: 1px;
			color: var(--wp--preset--color--secondary-crimson);
			outline: none;
		}

		&:active {
			background-color: var(--wp--preset--color--light);
			border: 1px solid var(--wp--preset--color--primary-crimson);
			color: var(--wp--preset--color--secondary-crimson);
		}
	}

	&.is-style-outline .wp-block-button__link {
		background-color: var(--wp--preset--color--white);
		border: 1px solid var(--wp--preset--color--primary-crimson);
		color: var(--wp--preset--color--primary-crimson);

		&:hover,
		&:focus {
			background-color: var(--wp--preset--color--secondary-crimson);
			border-color: var(--wp--preset--color--primary-crimson);
			box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
			color: var(--wp--preset--color--white);
		}

		&:active {
			background: darken(var(--wp--preset--color--primary-crimson, 10%));
			border: 1px solid var(--wp--preset--color--dark);
			box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
			outline-width: 0;
		}
	}

	&.is-style-small .wp-block-button__link {
		border-radius: 6px;
		padding: 0.25em 0.75em;
		vertical-align: baseline;
	}

	&.is-style-squared .wp-block-button__link,
	&.is-style-text .wp-block-button__link {
		background: transparent;
		color: var(--wp--custom--wsu-color-core--crimson);
		border: 1px solid transparent;
		box-shadow: none;

		&:hover,
		&:focus {
			background-color: var(--wp--preset--color--secondary-crimson);
			color: #fff;
		}

		&:active {
			background: darken(var(--wp--custom--wsu-color-core--crimson, 10%));
			box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
		}
	}
	/* stylelint-enable selector-class-pattern */

}
