.site-header {
	margin: 50px 0 -50px;
}

.site-header .column {
	align-items: center;
	background-color: var(--wp--custom--wsu-color-black--3);
	border-top: 4px solid var(--wp--custom--wsu-color-core--crimson);
	display: flex;
	justify-content: flex-end;
	padding: 0.75rem 1rem;
	z-index: 900;
}

.home #binder.spineless .site-header {
	margin-left: 0;
}

.site-header .site-title {
	font-size: var(--wp--preset--font-size--huge);
	margin: 0;
	padding: 0;
	position: relative;

	&::after {
		background-color: transparent;
	}

	& a {
		color: var(--wp--custom--wsu-color-core--crimson);
		font-weight: 700;
		margin-right: 2rem;
		text-decoration: none;

		&:hover,
		&:focus {
			color: var(--wp--preset--color--secondary-crimson);
			text-decoration: none;

			&::after {
				background-color: var(--wp--preset--color--secondary-crimson);
				bottom: -4px;
				content: "";
				display: block;
				height: 0.075em;
				left: 0;
				position: absolute;
				width: 2.25em;
			}
		}
	}
}

@media (min-width: 43em) {

	.site-header .site-title {
		font-size: var(--wp--preset--font-size--huge);
		margin: 0;
	}

}

@media (min-width: 61.875em) {

	.site-header {
		margin: 0 0 0 198px;
	}

	.site-header .column {
		padding: 1rem 2rem;
	}

	.site-header .site-title {
		font-size: var(--wp--preset--font-size--huge);
		margin: 0;
	}

}
