.wp-block-columns {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-column {
	flex: 1;
	margin-bottom: 1em;
	flex-basis: 100%;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;
}

@media (min-width: 34em) {

	.wp-block-columns {
		flex-wrap: nowrap;
	}

	.wp-block-column {
		flex-basis: 50%;
		flex-grow: 0;
	}

	.wp-block-column:nth-child(odd) {
		margin-right: 1rem;
	}

	.wp-block-column:nth-child(even) {
		margin-left: 1rem;
	}

	.wp-block-column:not(:first-child) {
		margin-left: 1rem;
	}

	.wp-block-column:not(:last-child) {
		margin-right: 1rem;
	}

}

/**
 * Classic columns
 *
 * @deprecated 2.0.0
 */

@media only screen and (min-width: 640px) {

	.hrs-two-col {
		width: 47%;
		clear: none !important;
	}

	.hrs-1-of-4 {
		width: 23%;
	}

	.hrs-1-of-5 {
		width: 20%;
	}

	.hrs-2-of-5 {
		width: 40%;
	}

	.hrs-3-of-5 {
		width: 60%;
	}

	.hrs-4-of-5 {
		width: 80%;
	}

	/* stylelint-disable selector-class-pattern */
	.gform_wrapper .gfield_error.hrs-two-col {
		width: 47%;
	}
	/* stylelint-enable selector-class-pattern */
}
