.wp-block-columns {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;

	&.has-text-color {
		color: var(--wp--custom--wsu-color-black--90) !important;
	}

	&.has-primary-crimson-background-color,
	&.has-primary-gray-background-color,
	&.has-secondary-crimson-background-color,
	&.has-dark-background-color,
	&.has-light-background-color {
		background-color: transparent !important;
		border-top: 3px solid;
		border-bottom: 3px solid;
		padding: 2rem 1rem 1rem;
	}

	&.has-primary-crimson-background-color {
		border-color: var(--wp--preset--color--primary-crimson);
	}

	&.has-primary-gray-background-color {
		border-color: var(--wp--preset--color--primary-gray);
	}

	&.has-secondary-crimson-background-color {
		border-color: var(--wp--preset--color--secondary-crimson);
	}

	&.has-dark-background-color {
		border-color: var(--wp--preset--color--dark);
	}

	&.has-light-background-color {
		border-color: var(--wp--preset--color--light);
	}

	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}
}

.wp-block-column {
	flex-grow: 1;
	flex-basis: 100% !important; /* Need to override inline styles */
	margin-top: 2rem;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word;

	&:first-child {
		margin-top: 0;
	}

	&.has-text-color {
		color: var(--wp--custom--wsu-color-black--90) !important;
	}

	&.has-primary-crimson-background-color,
	&.has-primary-gray-background-color,
	&.has-secondary-crimson-background-color,
	&.has-dark-background-color,
	&.has-light-background-color {
		background-color: transparent !important;
		border-top: 3px solid;
		border-bottom: 3px solid;
		padding: 2rem 1rem 1rem;
	}

	&.has-primary-crimson-background-color {
		border-color: var(--wp--preset--color--primary-crimson);
	}

	&.has-primary-gray-background-color {
		border-color: var(--wp--preset--color--primary-gray);
	}

	&.has-secondary-crimson-background-color {
		border-color: var(--wp--preset--color--secondary-crimson);
	}

	&.has-dark-background-color {
		border-color: var(--wp--preset--color--dark);
	}

	&.has-light-background-color {
		border-color: var(--wp--preset--color--light);
	}

	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}

	&.is-vertically-aligned-top,
	&.is-vertically-aligned-center,
	&.is-vertically-aligned-bottom {
		width: 100%;
	}
}

@media (min-width: 576px) {

	.wp-block-column {
		flex-basis: calc(50% - 1rem) !important; /* Need to override inline styles */
		flex-grow: 0;
	}

	.wp-block-column:nth-child(odd) {
		margin-right: 1rem;
	}

	.wp-block-column:nth-child(even) {
		margin-left: 1rem;
	}

	.wp-block-column:nth-child(-n+2) {
		margin-top: 0;
	}

}

@media (min-width: 900px) {

	.wp-block-columns {
		flex-wrap: nowrap;

		& .wp-block-column {
			margin-top: 0;
		}
	}

	.wp-block-column:not(:first-child) {
		margin-left: 1rem;
	}

	.wp-block-column:not(:last-child) {
		margin-right: 1rem;
	}

}

/**
 * Classic columns
 *
 * @deprecated 2.0.0
 */

@media only screen and (min-width: 640px) {

	.gform_wrapper .gfield_error.hrs-two-col {
		width: 47%;
	}

}
