.wp-block-cover {

	&.has-background-dim:not([class*="-background-color"]) {
		background-color: var(--wp--preset--color--white);
	}

	& .wp-block-cover__inner-container {
		color: var(--wp--custom--wsu-color-black--90);
	}

	&.has-primary-crimson-background-color,
	&.has-primary-gray-background-color,
	&.has-secondary-crimson-background-color,
	&.has-dark-background-color {

		& .wp-block-cover__inner-container {
			color: var(--wp--preset--color--white);

			& > .wp-block {
				margin-right: auto;
				margin-left: auto;
			}
		}

		& .wp-block-cover__inner-container a:not(.wp-block-button__link) {
			color: var(--wp--preset--color--white);
			text-decoration: underline;

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white);
				color: var(--wp--preset--color--primary-crimson);
			}
		}

	}

}
