.wp-block-cover {

	&.has-background-dim:not([class*="-background-color"]) {
		background-color: var(--wp--preset--color--white);
	}

	& .wp-block-cover__inner-container {
		color: var(--wp--custom--wsu-color-black--90);
	}

	&:not(.has-custom-content-position) .wp-block-cover__inner-container > .wp-block {
		margin-right: auto;
		margin-left: auto;
	}

	& .has-background-dim:not(.has-light-background-color) ~ .wp-block-cover__inner-container {
		color: var(--wp--preset--color--light);

		& a:not(.wp-block-button__link):not(.is-style-secondary) {
			color: var(--wp--preset--color--light);
			text-decoration-color: var(--wp--preset--color--light);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--light);
				color: var(--wp--preset--color--primary-crimson);
			}

		}

	}

}
