/* stylelint-disable selector-class-pattern */
.wp-block-cover-image,
.wp-block-cover {

	& p,
	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {

		& > a {
			color: inherit;
			border-bottom-color: currentColor;
		}

		& > a:hover,
		& > a:focus {
			color: var(--wp--preset--color--dark);
			background-color: var(--wp--preset--color--light);
		}

	}

	& .wp-block-cover__inner-container > .wp-block {
		margin-right: auto;
		margin-left: auto;
	}

}
/* stylelint-enable selector-class-pattern */
