.wp-block-cover {
	position: relative;
	background-size: cover;
	background-position: center center;
	min-height: 430px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	box-sizing: border-box;

	&.has-parallax {
		background-attachment: fixed;
	}

	&.is-repeated {
		background-repeat: repeat;
		background-size: auto;
	}

	& .has-background-dim:not([class*="-background-color"]) {
		background-color: var(--wp--preset--color--dark);
	}

	& .has-background-dim::before {
		content: "";
		background-color: inherit;
	}

	& .has-background-dim:not(.has-background-gradient)::before,
	& .wp-block-cover__gradient-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		opacity: 0.5;
	}

	& .has-background-dim.has-background-dim-0 {
		opacity: 0;
	}

	& .has-background-dim.has-background-dim-10 {
		opacity: 0.1;
	}

	& .has-background-dim.has-background-dim-20 {
		opacity: 0.2;
	}

	& .has-background-dim.has-background-dim-30 {
		opacity: 0.3;
	}

	& .has-background-dim.has-background-dim-40 {
		opacity: 0.4;
	}

	& .has-background-dim.has-background-dim-50 {
		opacity: 0.5;
	}

	& .has-background-dim.has-background-dim-60 {
		opacity: 0.6;
	}

	& .has-background-dim.has-background-dim-70 {
		opacity: 0.7;
	}

	& .has-background-dim.has-background-dim-80 {
		opacity: 0.8;
	}

	& .has-background-dim.has-background-dim-90 {
		opacity: 0.9;
	}

	& .has-background-dim.has-background-dim-100 {
		opacity: 1;
	}

	/* Style the text of cover blocks with background colors. */
	& .has-background-dim:not(.has-light-background-color) ~ .wp-block-cover__inner-container {
		color: var(--wp--preset--color--light);

		& a:not(.wp-block-button__link):not(.is-style-secondary) {
			color: var(--wp--preset--color--light);
			text-decoration-color: var(--wp--preset--color--light);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--light);
				color: var(--wp--preset--color--primary-crimson);
			}

		}

	}

	/* Aligned cover blocks should not use our global alignment rules */
	&.aligncenter,
	&.alignleft,
	&.alignright {
		display: flex;
	}

	&.alignfull {
		width: inherit;
	}

	& .wp-block-cover__inner-container {
		width: 100%;
		z-index: 1;
	}

	/* Position: Top */
	&.is-position-top-left {
		align-items: flex-start;
		justify-content: flex-start;
	}

	&.is-position-top-center {
		align-items: flex-start;
		justify-content: center;
	}

	&.is-position-top-right {
		align-items: flex-start;
		justify-content: flex-end;
	}

	/* Position: Center */
	&.is-position-center-left {
		align-items: center;
		justify-content: flex-start;
	}

	&.is-position-center-center {
		align-items: center;
		justify-content: center;
	}

	&.is-position-center-right {
		align-items: center;
		justify-content: flex-end;
	}

	/* Position: Bottom */
	&.is-position-bottom-left {
		align-items: flex-end;
		justify-content: flex-start;
	}

	&.is-position-bottom-center {
		align-items: flex-end;
		justify-content: center;
	}

	&.is-position-bottom-right {
		align-items: flex-end;
		justify-content: flex-end;
	}

	&.has-custom-content-position.has-custom-content-position {

		& .wp-block-cover__inner-container {
			margin: 0;
			width: auto;
		}

	}

	/* Extra specificity for in edit mode where other styles would override it. */
	& img.wp-block-cover__image-background,
	& video.wp-block-cover__video-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: none;
		object-fit: cover;
		outline: none;
		border: none;
		box-shadow: none;
	}

}

/* Extra specificity where the WSU Spine would override it. */
.column .wp-block-cover-image,
.column .wp-block-cover {

	& img.wp-block-cover__image-background,
	& video.wp-block-cover__video-background {
		height: 100%;
		max-width: none;
	}

}

@supports (-webkit-overflow-scrolling: touch) {

	/*
	 * Mobile Safari does not support fixed background attachment properly.
	 * See also https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios
	 * Chrome on Android does not appear to support the attachment at all: https://issuetracker.google.com/issues/36908439
	 */
	.wp-block-cover-image.has-parallax,
	.wp-block-cover.has-parallax {
		background-attachment: scroll;
	}

}

@media (prefers-reduced-motion: reduce) {

	.wp-block-cover-image.has-parallax,
	.wp-block-cover.has-parallax {
		background-attachment: scroll;
	}

}

.wp-block-cover__video-background,
.wp-block-cover__image-background {
	z-index: 0;
}
