ol.wp-block-list {

	& ol {
		list-style: lower-alpha;
	}

	& ol ol {
		list-style: lower-roman;
	}

	&.is-style-alpha {
		list-style: upper-alpha;
	}

	&.is-style-alpha ol {
		list-style: decimal;
	}

	&.is-style-alpha ol ol {
		list-style: lower-alpha;
	}

}
