ol ol {
	list-style: lower-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol.is-style-alpha {
	list-style: upper-alpha;
}

ol.is-style-alpha ol {
	list-style: decimal;
}

ol.is-style-alpha ol ol {
	list-style: lower-alpha;
}

ol.has-background,
ul.has-background {
	padding: 1.25em 2.375em;
}

dl dt,
dl dd {
	display: block;
}

dt {
	font-weight: 700;
}

dd {
	padding-left: 2em;
}
