.archive .page-header h1 {
	text-transform: capitalize;
}

.archive .page-header h1::before {
	background-image: url(images/bookmarks.svg);
}

section.latest {
	border-top: 8px solid var(--wp--custom--wsu-color-black--0);
	border-bottom: 8px solid var(--wp--custom--wsu-color-black--0);
}

section.latest article {
	font-size: var(--wp--preset--font-size--normal);
	line-height: 1.5;
}

.archive-content .article-title a:not(.wp-block-button__link):not(.is-style-secondary) {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--wp--preset--color--secondary-crimson);
		text-decoration: underline;
	}
}

@media ( max-width: 43em ) {

	@supports (display: grid) {

		.features .articles-list article {
			display: flex;
			flex-direction: column;
		}

		.features .articles-list .article-image {
			order: -1;
		}

	}

}

@media (min-width: 43em) {

	.features .articles-list article {
		grid-auto-rows: 1fr 2fr;
		grid-template-columns: repeat(2, minmax(220px, 1fr));
	}

	.features .articles-list .article-footer {
		position: absolute;
		left: 2rem;
		top: 1rem;
	}

}
