/**
 * 7.0 Breakpoints
 *
 * All previous styles should be fluid, responsive, and otherwise target the
 * smallest standard viewport size (i.e., mobile devices). This section provides
 * adjustments to take advantage of additional screen space on larger viewports
 * and fix items that may no longer be ideal at larger screen sizes.
 *
 *     - 7.1 Small
 *     - 7.2 Medium
 *     - 7.3 Large
 *     - 7.4 Massive
 *
 * @since 0.9.0
 */


@media only screen and (max-width: 37.5em) {

	.tablepress-manual-contacts,
	.tablepress-hrs-contacts {
		display: block;
		text-align: left;

		caption,
		tbody,
		tr,
		th,
		td {
			display: block;
			text-align: left;
		}

		thead,
		th:empty,
		td:empty {
			display: none;
			visibility: hidden;
		}

		tbody tr {
			margin-bottom: 1.4rem;
		}

		tbody td,
		tfoot th {
			border: none;
			line-height: 1.4;
			padding: 4px 8px;
		}

		.column-1 {
			font-weight: 700;
		}
	}
}

@media only screen and (max-width: 365px) {

	.hrs-open-enrollment ul.inline li {
		display: block;
		margin-right: 0;
	}

	.hrs-open-enrollment .inline .hrs-button {
		width: 100%;
	}
}

@media only screen and (min-width: 365px) and (max-width: 640px) {

	.hrs-open-enrollment .inline .hrs-button {
		max-width: 135px;
	}

}

@media only screen and (min-width: 700px) and (max-width: 790px) {

	.hrs-open-enrollment .inline .hrs-button {
		font-size: .7em;
	}

}

@media only screen and (min-width: 800px) {

	.page-tricities .hrs-button-big a,
	.page-spokane .hrs-button-big a {
		padding: 2rem 4rem;
	}

}

@media screen and (max-width: 490px) {

	/* Global Header */
	.parent-stretch .single.row .column {
		padding-right: 25px;
	}

	.parent-stretch header {
		font-size: .95em;
	}

	/* Search form */
	.parent-stretch .search-label {
		padding-right: 0;
	}

	.header-search-wrapper {
		background: none !important;
		background-color: #eaeaea;
	}

	.header-search-wrapper .radio-rapper {
		width: 100%;
		display: block;
	}

	.header-search-input-wrapper input.header-search-input {
		width: calc(100% - 50px);
	}

	/* Footers: Global Footer */
	footer.parent-foot ul.footer-utility {
		column-count: 1;
		column-gap: 20px;
	}

	footer.parent-foot ul.footer-utility li {
		display: block;
		width: 100%;
		float: none;
		border-top: 1px solid #ddd;
		padding-top: .8em;
	}

	footer.parent-foot ul.footer-utility li a {
		display: block;
		width: 100%;
		height: 100%;
	}

	/* Pages: Home */
	body.home .builder-section-banner .builder-banner-inner-title {
		width: 100%;
	}

	body.home .builder-section-banner .builder-banner-inner-content {
		width: 100%;
		max-width: 100%;
		margin-left: 5%;
		margin-top: 10px;
	}

	body.home section.home-nav .column ul {
		display: block;
		padding: 0;
	}

	body.home section.home-nav .column ul li {
		width: 100%;
		padding: 15px 0;
		border-top: 1px solid #ddd;
	}

	body.home section.home-nav .column ul li:first-of-type {
		border-top: none;
	}

}

@media only screen and (max-width: 520px) {

	.hrs-gallery.gallery-columns-1 .gallery-item,
	.hrs-gallery.gallery-columns-2 .gallery-item,
	.hrs-gallery.gallery-columns-3 .gallery-item,
	.hrs-gallery.gallery-columns-4 .gallery-item,
	.hrs-gallery.gallery-columns-5 .gallery-item,
	.hrs-gallery.gallery-columns-6 .gallery-item,
	.hrs-gallery.gallery-columns-7 .gallery-item,
	.hrs-gallery.gallery-columns-8 .gallery-item,
	.hrs-gallery.gallery-columns-9 .gallery-item {
		width: 50%;
	}

	.hrs-gallery .gallery-item:nth-child(odd) {
		padding-left: 0;
	}

	.hrs-gallery .gallery-item:nth-child(even) {
		padding-right: 0;
	}
}

@media screen and (min-width: 800px) and (max-width: 1000px) {

	body.home .builder-section-banner .content-position-none .builder-banner-inner-title {
		font-size: .8em;
	}

}

@media screen and (min-width: 800px) {

	.builder-section-banner .cycle-prev,
	.builder-section-banner .cycle-next {
		top: 62%;
	}

	.content-position-none .builder-banner-content {
		padding: 0 62px;
		padding: 0 5rem;
	}

	body.home .builder-section-banner .content-position-none .builder-banner-inner-title {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		transition: background .3s ease;
	}

	body.home .builder-section-banner .content-position-none .builder-banner-inner-content {
		font-size: .75em;
		width: 90%;
		transition: background .3s ease;
	}

	body.home .builder-section-banner .content-position-none a:hover .builder-banner-inner-title,
	body.home .builder-section-banner .content-position-none a:focus .builder-banner-inner-title,
	body.home .builder-section-banner .content-position-none a:hover .builder-banner-inner-content,
	body.home .builder-section-banner .content-position-none a:hover .builder-banner-inner-content {
		background-color: rgba(215, 218, 219, .9);
	}

}

@media screen and (min-width: 700px) and (max-width: 900px) {

	.builder-section-banner .content-position-left .builder-banner-inner-content p,
	.builder-section-banner .content-position-right .builder-banner-inner-content p {
		font-size: .7em;
	}
}

@media screen and (min-width: 800px) {

	.builder-section-banner .content-position-left .builder-banner-content,
	.builder-section-banner .content-position-right .builder-banner-content {
		width: 60%;
		bottom: 1em;
	}

	.builder-section-banner .content-position-left .builder-banner-inner-title,
	.builder-section-banner .content-position-right .builder-banner-inner-title {
		font-size: 2rem;
	}

	.builder-banner-slide a:hover {
		opacity: 10%;
	}

}

@media screen and (max-width: 790px) {

	.main-header .header-group {
		left: 0;
	}

	/* Search */
	.header-search-input-wrapper input.header-search-input {
		margin-top: 20px;
	}

	.header-search-wrapper .quick-links-label {
		padding-bottom: 1em;
	}

	#jacket #binder .header-search-wrapper section.single.row {
		padding-left: 0;
		margin-left: 2em;
		margin-top: 0;
	}

	#jacket #binder .header-search-wrapper section.single.row .radio-rapper:last-of-type {
		margin-top: 0;
	}

	/* Footers: Global Footer */
	footer.parent-foot {
		width: 100%;
	}

	footer.parent-foot .site-ref {
		padding-top: 1em;
	}

	footer.parent-foot .site-ref ul li {
		width: 100%;
		display: block;
		padding-bottom: 1.1em;
	}

	footer.parent-foot .site-ref ul li:after {
		display: none;
	}

	/* Pages: Home */
	body.home .h1-header {
		height: inherit;
	}

	body.home .h1-header h1 {
		float: left;
		width: 100%;
	}

	body.home #jacket #binder .header-search-wrapper {
		margin-top: 40px;
	}

	body.home .spacing-loose .single.gutter.home-nav .column:not(.gutterless) {
		padding-left: 0;
		padding-right: 0;
	}

	.nested-halves .nested-one,
	.nested-halves .nested-two,
	.nested-halves .nested-three,
	.nested-thirds .nested-one,
	.nested-thirds .nested-two,
	.nested-thirds .nested-three {
		width: 100%;
		margin-bottom: 1em;
	}

	.nested-one,
	.nested-two {
		display: block;
		width: 100%;
		clear: both;
	}

}

@media only screen and (min-width: 791px) and (max-width: 990px) {

	#jacket #binder .header-search-wrapper  section.single.row {
		padding-left: 198px;
		margin-left: 4em;
	}

	#jacket #binder .header-search-wrapper section.single.row .radio-rapper:last-of-type {
		margin-top: 0;
	}

	body.home #spine #glue.spine-glue {
		min-height: 0 !important;
	}

	body.home #spine .spine-sitenav,
	body.home #spine footer {
		display: none;
	}

	body.home #spine.cropped {
		height: 198px !important;
		min-height: 198px !important;
		top: 0 !important;
		left: auto !important;
	}

	body.home #spine.cropped #glue {
		width: 198px;
		height: 198px !important;
		min-height: 198px !important;
	}

	body.home #spine.cropped #glue:before {
		width: 198px;
	}

	body.home #spine.cropped #glue nav,
	body.home #spine.cropped #glue footer {
		display: none;
	}

	body.home #spine.cropped.bleed #glue:before {
		left: 0;
	}

	body.home #spine.cropped.shelved button#shelve,
	body.home #spine.cropped.unshelved button#shelve {
		display: none;
	}

	/* Cropped and Scrolled */
	body.home #spine.cropped.skimmed:not(.unshelved) {
		left: 0 !important;
		top: 0 !important;
		width: 100% !important;
		height: 50px !important;
		min-height: 0 !important;
	}

	body.home #spine.cropped.skimmed:not(.unshelved) #glue,
	body.home #spine.cropped.skimmed:not(.unshelved) #glue:before {
		min-height: 0 !important;
		height: 50px !important;
		width: 100% !important;
		padding-top: 0;
		padding-bottom: 0;
	}

	body.home #spine.cropped.skimmed:not(.unshelved) #glue #wsu-signature {
		background-position: center 12px;
		background-size: auto 30px;
		height: 49px;
		pointer-events: none;
		cursor: default;
	}

	body.home #spine.cropped.skimmed:not(.unshelved) #glue #wsu-actions {
		width: 198px;
		margin-top: -40px;
	}

	body.home #spine.cropped.skimmed #wsu-signature {
		background-image: url(https://repo.wsu.edu/spine/2/marks/wsu-signature-horizontal.svg);
	}

	body.home .h1-header h1 {
		width: 75%;
		padding-right: 0;
	}

}

@media screen and (min-width: 990px) {

	body.home #jacket #binder .header-search-wrapper  section.single.row {
		left: 300px;
		max-width: calc(100vw - 24%);
	}

	body.home .parent-stretch .single.row .column {
		max-width: 90%;
	}

	body.home .close-header-search {
		margin-right: 10%;
	}

}

@media screen and (max-width: 1530px) {

	.header-search-input-wrapper input.header-search-input {
		max-width: 40%;
		min-width: 40%;
	}

}

@media screen and (max-width: 989px) {

	.header-search-input-wrapper input.header-search-input {
		max-width: 60%;
		min-width: 60%;
	}

}

@media screen and (max-width: 695px) {

	.header-search-input-wrapper input.header-search-input {
		max-width: 80%;
		min-width: 80%;
		margin-right: 10px !important;
		margin-left: 10px !important;
		float: left;
	}

	.column .one .common-searches .common-searches-hide {
		margin-left: 15px !important;
	}

	.row .column {
		padding-left: 10px !important;
	}

}

@media only screen and (min-width: 640px) {

	.hrs-two-col {
		width: 47%;
		clear: none !important;
	}

	.hrs-1-of-4 {
		width: 23%;
	}

	.hrs-1-of-5 {
		width: 20%;
	}

	.hrs-2-of-5 {
		width: 40%;
	}

	.hrs-3-of-5 {
		width: 60%;
	}

	.hrs-4-of-5 {
		width: 80%;
	}

	.gform_wrapper .gfield_error.hrs-two-col {
		width: 47%;
	}
}

@media screen and (min-width: 800px) {

	.content-position-left .builder-banner-content {
		padding: 0;
		font-size: 1.4em;
	}

	body.home .builder-section-banner .builder-banner-inner-title {
		width: 80%;
	}

	body.home .builder-section-banner .builder-banner-inner-content {
		margin-top: 25px;
		margin-left: 30%;
	}

}

@media screen and (max-width: 799px) {

	.builder-banner-content {
		padding: 0;
		font-size: 120%;
		width: 70%;
	}

	body.home .builder-section-banner .builder-banner-inner-content {
		width: 100%;
		max-width: 55%;
		margin-left: 15%;
		margin-top: 25px;
	}

}

@media only screen and (min-width: 520px) {

	.hrs-callout-gallery h3 {
		font-size: 2rem;
	}

}

@media only screen and (min-width: 990px) and (max-width: 1699px) {

	#spine.cropped {
		left: 10% !important;
	}

}

@media only screen and (min-width: 1700px) {

	#spine.cropped {
		left: 8% !important;
	}

}


/**
 * 7.1 Small
 */

/**
 * 7.2 Medium
 */

/**
 * 7.3 Large
 */

/**
 * 7.4 Massive
 */
