footer ul,
footer dd {
	font-size: var(--wp--custom--typography--tiny);

	& a {
		border-bottom-color: transparent;

		&:hover,
		&:focus {
			border-bottom-color: currentcolor;
		}
	}
}

.site-footer {
	margin-top: 1.5rem;
}

.site-footer nav ul {
	padding: 0;
}

.footer-nav {
	background-color: var(--wp--custom--wsu-color-black--5);
	border-top: 1px solid var(--wp--custom--wsu-color-black--10);
	display: flex;
	flex-flow: row nowrap;

	& nav {
		flex: 3 1 auto;
		margin: 1.5rem 2.25rem;
	}

	& .wsu-brand {
		align-self: flex-start;
		flex: 1 1 auto;
		position: relative;
	}

	& .wsu-cougar-head {
		top: 2.25rem;
		width: 100px;
		height: auto;
		position: absolute;
		right: 2.25rem;
	}

	& .footer-nav-title {
		color: var(--wp--custom--wsu-color-black--70);
		display: block;
		font-size: var(--wp--custom--typography--medium);
		font-weight: 600;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}

	& a:not(.wp-block-button__link):not(.is-style-secondary) {
		color: inherit;
		text-decoration: none;
		text-decoration-color: var(--wp--preset--color--secondary-crimson);

		&:hover,
		&:focus {
			color: var(--wp--preset--color--primary-crimson);
			text-decoration: underline;
		}
	}

}

.site-reference {
	background-color: var(--wp--custom--wsu-color-black--80);
	color: var(--wp--preset--color--white);
	padding: 0.5rem 0;
}

.site-reference ul {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.site-reference li {
	padding: 0;
}


.site-footer .site-reference a {
	color: var(--wp--preset--color--white);
	display: block;
	margin: 0 3px;
	padding: 1em 0.75em;
	position: relative;
	text-decoration: none;

	&::after {
		content: "";
		position: absolute;
		background-color: #ca1237;
		left: -1px;
		right: -1px;
		bottom: 0;
		height: 5px;
		opacity: 0;
		transition: all 0.333s cubic-bezier(0, 0, 0.03, 1);
	}

	&:hover,
	&:focus {

		&::after {
			bottom: calc(-1em + 5px);
			opacity: 1;
		}

	}
}

@media (min-width: 34em) {

	.site-reference ul {
		flex-flow: row wrap;
		margin-right: 1.25rem;
	}

}
