footer ul,
footer dd {
	font-size: var(--wp--custom--typography--tiny);

	& a {
		border-bottom-color: transparent;

		&:hover,
		&:focus {
			border-bottom-color: currentColor;
		}
	}
}

.site-footer {
	margin-top: 1.5rem;
}

.site-footer nav ul {
	padding: 0;
}

.footer-nav {
	background-color: var(--wp--custom--wsu-color-black--5);
	border-top: 1px solid var(--wp--custom--wsu-color-black--10);
	display: flex;
	flex-flow: row nowrap;
}

.footer-nav nav {
	flex: 3 1 auto;
	margin: 1.5rem 2.25rem;
}

.footer-nav .wsu-brand {
	align-self: flex-start;
	flex: 1 1 auto;
	position: relative;
}

.footer-nav .wsu-cougar-head {
	top: 2.25rem;
	width: 100px;
	height: auto;
	position: absolute;
	right: 2.25rem;
}

.footer-nav .footer-nav-title {
	color: var(--wp--custom--wsu-color-black--70);
	display: block;
	font-size: var(--wp--custom--typography--medium);
	font-weight: 600;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.site-reference {
	background-color: var(--wp--custom--wsu-color-black--80);
	color: #fff;
	padding: 0.5rem 0;
}

.site-reference ul {
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.site-reference li {
	padding: 0;
}


.site-reference a {
	border: none;
	color: #fff;
	display: block;
	font-weight: 400;
	padding: 1em 0.75em;

	&:hover,
	&:focus {
		border: none;
		color: var(--wp--custom--wsu-color-black--20);
		text-decoration: underline;
	}
}

@media (min-width: 34em) {

	.site-reference ul {
		flex-flow: row wrap;
		margin-right: 1.25rem;
	}

}
