.editor-styles-wrapper {

	& p {
		font-size: var(--wp--custom--typography--normal);
	}

	/* No drop cap styling anywhere. */
	& p.has-drop-cap:not(:focus)::first-letter {
		float: none;
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		margin: inherit;
		text-transform: none;
		font-style: normal;
	}

	& p.has-drop-cap:not(:focus)::after {
		display: none;
		padding-top: 0;
	}

}
