p {

	&.has-drop-cap:not(:focus)::first-letter,
	&.has-drop-cap:not(:focus)::after {
		font-size: inherit;
	}

	&.is-style-accent {
		padding-top: 2rem;
		padding-right: 1.5rem;
		position: relative;

		&::before {
			background-color: var(--wp--preset--color--secondary-crimson);
			content: "";
			display: block;
			height: 6px;
			left: 0;
			position: absolute;
			top: 0;
			width: 64px;
		}

	}

	&.has-background {
		padding: 1.25em 2.375em;
	}

	&.has-background + *:not(.has-background) {
		margin-top: 1em;
	}

	&.has-primary-crimson-background-color,
	&.has-primary-gray-background-color,
	&.has-secondary-crimson-background-color,
	&.has-dark-background-color {

		& a:not(.wp-block-button__link):not(.is-style-secondary) {
			color: var(--wp--preset--color--white);
			text-decoration-color: var(--wp--preset--color--white);
			text-decoration-thickness: 0.1em;

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--white);
				color: var(--wp--preset--color--primary-crimson);
				text-decoration-color: var(--wp--preset--color--white);
			}
		}

	}

}
