/**
 * 3.0 Components
 *
 * CSS rules for larger modular components. Components should be made up of
 * individual Elements and should be designed with a focus on being reused
 * around the site.
 *
 *     - 3.1 Cards
 *     - 3.2 Data Tables
 *     - 3.3 Dialogs
 *     - 3.4 Forms
 *     - 3.5 Grid Lists
 *     - 3.6 Modules
 *     - 3.7 Notifications
 *     - 3.8 Pagination
 *     - 3.9 Row Lists
 *     - 3.10 Search
 *
 * @since 0.9.0
 */

/**
 * 3.1 Cards
 */

.recent-articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-auto-rows: minmax(4rem, auto);
	grid-gap: 1.5rem 2rem;
}

/**
 * 3.2 Data Tables
 */

.tablepress-manual-contacts .column-1 {
	width: 497px;
}

.tablepress-manual-contacts td.column-3,
.tablepress-hrs-contacts td.column-3 {
	white-space: nowrap;
}

.caldera-grid .hrs-caldera-table td,
.caldera-grid .hrs-caldera-table th {
	padding: 8px;
}

/* Labor relation table */
.tablepress-id-31 .column-1 {
	width: 450px !important;
}

.tablepress-id-7 .column-1 {
	width: 500px !important;
}

.tablepress-id-31 .column-2,
.tablepress-id-7 .column-2 {
	width: 150px !important;
}

.tablepress-id-31 .column-3,
.tablepress-id-7 .column-3 {
	width: 100px !important;
}

.tablepress.hrs-4-of-5 td.column-1 {
	width: 30%;
}

/**
 * 3.4 Forms
 */

/* Add "number" type to the Spine `input[type=$]` styles */
input[type="number"] {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #767676;
	margin: 0;
	padding: 6px 4px;
	outline: 0;
}

/*
 * 3.6 Modules
 */

/* adjust all of the module sizes to match the vertical rhythm */
%module {
	border: 11px solid $brand-crimson;
	margin: 1.5rem auto;
	padding: 1.5rem 2rem;
}

.module-title {
	border-bottom: 4px solid $neutral-light;
	font-size: 1.8em; /* whatever the standard h3 size is */
	margin: 0 0 .5em;
	padding: 0 0 .25em;
}

.module {
	@extend %module;

	.module-title {
		color: $brand-crimson;
	}
}

.action-module {
	@extend %module;
	background-color: $accent-blue;
	border-color: darken($accent-blue, 15%);
	text-align: center;

	.module-title {
		border-bottom-color: darken($accent-blue, 5%);
		font-size: 3em;
	}

}

.alert-module {
	@extend %module;
	border-color: $brand-crimson;
	min-width: 300px;
	text-align: center;
	width: 80%;

	.module-title {
		font-size: 3em;
	}

	svg {
		fill: $brand-crimson;
	}

	&.positive {
		border-color: $accent-green;

		svg {
			fill: $accent-green;
		}
	}

	&.caution {
		border-color: $accent-yellow;

		svg {
			fill: $accent-yellow;
		}
	}

	&.warning {
		border-color: $accent-orange;

		svg {
			fill: $accent-orange;
		}
	}
}

/**
 * 3.7 Notifications
 */

/* @todo Replace .hrs-callout classes with .notification classes */
%notification {
	margin: 1.5em auto;
	padding: 1em 1.5em;

	p {
		padding: 0;
	}
}

.notification {
	@extend %notification;
	border: 5px solid $brand-gray;
	border-left: 21px solid $brand-gray;
}

.positive-notification {
	@extend %notification;
	border: 5px solid $accent-blue;
	border-left: 21px solid $accent-blue;
}

.caution-notification {
	@extend %notification;
	border: 5px solid $accent-yellow;
	border-left: 21px solid $accent-yellow;
}

.warning-notification {
	@extend %notification;
	border: 5px solid $accent-orange;
	border-left: 21px solid $accent-orange;
}

/* HRS Banner Callouts */
.hrs-callout-banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	margin: 1.4rem 0;
	text-align: center;
}

.hrs-banner-careers {
	background-image: url(http://hrsdev.hrs.wsu.edu/wp-content/uploads/2016/02/large-1024x347.jpg);
}

.hrs-banner-careers header h2 {
	color: #fff;
	width: 100%;
}

.hrs-callout-gallery {
	margin: 1.4rem auto;
	position: relative;
}

.hrs-callout-gallery h3 {
	font-size: 1.1rem;
	left: 50%;
	margin-right: -50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

.hrs-callout-gallery h3 a.hrs-button {
	font-weight: 400;
	line-height: 1.4;
	padding: .3rem .7rem;
	text-transform: none;
	width: 100%;
}

.hrs-callout-gallery h3 a.hrs-button-priority {
	background: rgba(152, 30, 50, .8);
}

.hrs-callout-gallery h3 a.hrs-button-priority:hover,
.hrs-callout-gallery h3 a.hrs-button-priority:focus {
	background-color: #fff;
	color: rgb(152, 30, 50);
}

.hrs-callout-gallery div.gallery-columns-3 {
	max-width: 600px;
}

.hrs-callout-gallery div.gallery-columns-3 .gallery-item {
	max-width: 33%;
	margin: 0 0 -.5em 0;
	position: relative;
}

.hrs-callout-gallery .gallery img {
	border: none;
}

.hrs-callout-gallery .gallery .gallery-caption {
	color: #fff;
	left: 50%;
	margin-right: -50%;
	margin-left: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/**
 * 3.8 Pagination
 */

/**
 * 3.9 Row Lists
 *
 * @todo Adjust these styles to be more agnostic of markup?
 */

%row-list {

	article {
		display: flex;
		align-items: center;
		margin: 0 0 1.5rem;
	}

	.article-image {
		align-self: flex-start;
		flex: 0 0 100px;
		line-height: 0;
		margin-right: 1rem;
	}

	.row-item-content {
		flex: 1 1 auto;
	}

	.article-header {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.article-title {
		font-size: 1.5rem;
		padding: 0;
		margin: 0;
	}

	p {
		padding: .5em 0 0;
		font-size: 1rem;
		line-height: 1.2;
	}

}

.articles-list {
	@extend %row-list;
}

/**
 * 3.10 Search
 */

body.home .parent-stretch .single.row .column header,
.header-search-wrapper .search-label,
.si-dropdown,
.header-search-wrapper-hide {
	display: none;
}

.menu-quick-links-search-container li {
	float: left !important;
	width: 50% !important;
}

.header-search-wrapper {
	background-color: #dbdbdb !important;
	max-width: 1188px;
}

.home .header-search-wrapper {
	max-width: 100vw;
}

.header-search-wrapper section.single.row {
	padding-left: 78px;
	margin-left: 0;
}

.header-search-a-z-wrapper {
	clear: both;
	float: right;
	padding-top: 10px;
	padding-right: 100px;
}

.header-search-wrapper .quick-links-label {
	font-size: 1.4rem;
	padding-top: 1.2em;
	padding-bottom: .8em;
}

.header-search-wrapper .radio-rapper {
	display: none;
}

.header-search-wrapper .radio-rapper:last-of-type {
	margin-left: 23px;
}

.header-search-wrapper .radio-rapper label {
	font-weight: 300;
	font-size: 1.4em;
	font-family: "Open Sans", sans-serif;
	color: #363636;
	vertical-align: middle;
	margin-right: 1em;
}

.header-search-wrapper .radio-rapper label:last-of-type {
	margin-right: 0;
}

.header-search-wrapper .common-searches ul,
.header-search-wrapper .common-searches ul li {
	list-style: none;
	font-weight: 400;
	margin-left: 0;
	padding-left: 0;
}

.header-search-wrapper .common-searches ul {
	column-count: 2;
}

#hrs-common-search li {
	padding-bottom: .5em;
}

.common-searches ul li:first-child {
	padding-top: 0;
}

.header-search-wrapper input[type="text"],
.header-search-wrapper input[type="password"],
.header-search-wrapper input[type="email"],
.header-search-wrapper select,
.header-search-wrapper textarea {
	background: #fff;
}

.header-search-input-wrapper input.radio {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.header-search-input-wrapper input.header-search-input {
	border-radius: 0;
	float: right;
	font-family: "Open Sans", sans-serif;
	font-size: 1.75em;
	font-weight: 300;
	height: 50px;
	max-width: 60%;
	min-width: 50%;
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 100px;
	padding: 25px;
	padding-top: 4px; /* Fixes Firefox input text cut off */
	padding-bottom: 4px; /* Fixes Firefox input text cut off */
}

/* Closing "X" */
.close-header-drawer,
.close-header-search {
	text-align: right;
	padding-right: 1em;
	padding-bottom: 1em;
	color: #981e32;
	font-size: 2rem;
	font-weight: 300;
	cursor: pointer;
	transition: color .3s ease;
}

.close-header-drawer:hover,
.close-header-search:hover {
	color: #c60c30;
}
