/**
 * 3.0 Components
 *
 * CSS rules for larger modular components. Components should be made up of
 * individual Elements and should be designed with a focus on being reused
 * around the site.
 *
 *     - 3.1 Cards
 *     - 3.2 Data Tables
 *     - 3.3 Dialogs
 *     - 3.4 Figures
 *     - 3.5 Forms
 *     - 3.6 Grid Lists
 *     - 3.7 Modules
 *     - 3.8 Notifications
 *     - 3.9 Pagination
 *     - 3.10 Row Lists
 *     - 3.11 Search
 *
 * @since 0.9.0
 */

/**
 * 3.1 Cards
 */

.cards,
.recent-articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-auto-rows: minmax(4rem, auto);
	grid-gap: 1.5rem 2rem;

	article,
	.card {
		display: grid;
	}

	.article-image {
		order: -1;
	}

	.article-taxonomy {
		order: -2;
	}
}

/**
 * 3.2 Data Tables
 */

main {

	table,
	.tablepress {
		font-variant-numeric: lining-nums tabular-nums;
		margin-bottom: 1.5rem;
	}

	thead tr {
		border-bottom: 1px solid lighten($brand-gray, 15%);
	}

	td,
	th {
		padding: .5em .75em;
		text-align: left;
	}

	th.nums,
	td.nums {
		text-align: right;
	}

	th {
		font-weight: 600;
	}

	.striped {

		tbody tr:nth-child(odd) td {
			background: $neutral-light;
		}

	}
}

/**
 * 3.3 Dialogs
 */

/**
 * 3.4 Figures
 */

figure {

	img {
		max-width: 100%;
	}

}

figcaption {
	font-size: .85em;
	letter-spacing: .02em;
	line-height: normal;
	padding: .3em .75em;
}

/**
 * 3.5 Forms
 */

/* Adds "number" type to the Spine `input[type=$]` styles */
input[type="number"] {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #767676;
	margin: 0;
	padding: 6px 4px;
	outline: 0;
}


/**
 * 3.6 Grid Lists
 */

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: auto;

	img {
		border: 0;
		box-sizing: border-box;
		display: block;
		margin: 0 auto;
	}
}

.gallery-item {
	box-sizing: border-box;
	padding: 1rem;
	text-align: center;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
	width: 50%;
}

@media (max-width: $medium) {

	.gallery-item:nth-child(odd) {
		padding-left: 0;
	}

	.gallery-item:nth-child(even) {
		padding-right: 0;
	}

}

@media (min-width: $medium) {

	.gallery-item {

		.gallery-columns-1 & {
			width: (100% / 1);
		}

		.gallery-columns-2 & {
			width: (100% / 2);
		}

		.gallery-columns-3 & {
			width: (100% / 3);
		}

		.gallery-columns-4 & {
			width: (100% / 4);
		}

		.gallery-columns-5 & {
			width: (100% / 5);
		}

		.gallery-columns-6 & {
			width: (100% / 6);
		}

		.gallery-columns-7 & {
			width: (100% / 7);
		}

		.gallery-columns-8 & {
			width: (100% / 8);
		}

		.gallery-columns-9 & {
			width: (100% / 9);
		}
	}
}

/*
 * 3.7 Modules
 *
 * @todo Adjust module styles and sizes when they are needed.
 */

.module {
	border: 11px solid $brand-crimson;
	margin: 1.5rem auto;
	padding: 1.5rem 2rem;

	.module-title {
		color: $brand-crimson;
	}
}

.module-title {
	border-bottom: 4px solid $neutral-light;
	font-size: 1.8em; /* whatever the standard h3 size is */
	margin: 0 0 .5em;
	padding: 0 0 .25em;
}

.action-module {
	@extend .module;
	background-color: $accent-blue;
	border-color: darken($accent-blue, 15%);
	text-align: center;

	.module-title {
		border-bottom-color: darken($accent-blue, 5%);
		font-size: 3em;
	}
}

.alert-module {
	@extend .module;
	border-color: $brand-crimson;
	min-width: 300px;
	text-align: center;
	width: 80%;

	.module-title {
		font-size: 3em;
	}

	svg {
		fill: $brand-crimson;
	}

	&.positive {
		border-color: $accent-green;

		svg {
			fill: $accent-green;
		}
	}

	&.caution {
		border-color: $accent-yellow;

		svg {
			fill: $accent-yellow;
		}
	}

	&.warning {
		border-color: $accent-orange;

		svg {
			fill: $accent-orange;
		}
	}
}

/**
 * 3.8 Notifications
 *
 * @todo Replace .hrs-callout classes with .notification classes.
 */

.notification {
	border: 5px solid $brand-gray;
	border-left: 21px solid $brand-gray;
	margin: 1.5em auto;
	padding: 1em 1.5em;

	p {
		padding: 0;
	}
}

.positive-notification {
	@extend .notification;
	border: 5px solid $accent-blue;
	border-left: 21px solid $accent-blue;
}

.caution-notification {
	@extend .notification;
	border: 5px solid $accent-yellow;
	border-left: 21px solid $accent-yellow;
}

.warning-notification {
	@extend .notification;
	border: 5px solid $accent-orange;
	border-left: 21px solid $accent-orange;
}

/**
 * 3.9 Pagination
 */

.nav-links,
.pager {
	margin: 1.5rem 0;
	text-align: center;

	a,
	.page-numbers {
		border: 1px solid transparent;
		margin: 0 .25em;
		padding: .75em 1em;

		&:hover,
		&:focus {
			background: #981e32;
			color: #fff;
		}
	}

	.current {
		background: #eff0f1;
		border: 1px solid #464e54;
	}
}

.nav-previous,
.nav-next {
	display: inline-block;
	width: 50%;
}

.nav-next {
	float: right;
	text-align: right;
}

/**
 * 3.10 Row Lists
 *
 * @todo Adjust these styles to be more agnostic of markup?
 */

.articles-list {

	article,
	.list-item {
		display: flex;
		align-items: center;
		margin: 0 0 1.5rem;
	}

	.article-image {
		align-self: flex-start;
		flex: 0 0 100px;
		line-height: 0;
		margin-right: 1rem;
	}

	.list-content {
		flex: 1 1 auto;
	}

	.article-header {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	.article-title {
		font-size: 1.5rem;
		padding: 0;
		margin: 0;
	}

	p {
		padding: .5em 0 0;
		font-size: 1rem;
		line-height: 1.2;
	}
}

/**
 * 3.11 Search
 */

#search-menu {
	background: $neutral-light;
	box-shadow: 2px 3px 5px 1px rgba(20, 20, 20, .12);
	display: flex;
	flex-flow: row wrap;
	padding: 5.5rem 2rem 1.5rem;
	position: absolute;
	top: 4.8rem;
	transform: translateY(-100rem);
	transition-delay: .1s;
	transition-duration: .3s;
	transition-property: transform top;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	width: 100%;
	z-index: 200;

	&.is-visible {
		transform: translateY(-4.8rem);
	}
}

.search-toggle {
	padding: .5rem 1rem;
}

.search-toggle[aria-expanded="true"] {
	background: $neutral-dark;
	border-color: $neutral-dark;
	color: $neutral-light;
}

.search-form {
	flex: 1 1 auto;
}

.search-input[type="search"] {
	font-size: 1.75em;
	width: 90%;
}

.search-links-title {
	font-size: 2rem;
	padding-top: .5rem;
	padding-bottom: 1rem;
}

.search-links ul {
	column-count: 2;
	margin: 0 0 1rem;
	padding: 0;

	li {
		line-height: 1.5;
	}
}

.search-links {

	a:after {
		background: url(/wp-content/themes/hrs.wsu.edu/assets/images/icons/link.svg) no-repeat;
		background-position: .1em;
		background-size: 80%;
		content: "";
		display: inline-block;
		fill: $neutral-dark;
		height: 1em;
		margin: .2em 0 -.05em .1em;
		position: absolute;
		width: 1em;
	}

}

@media (min-width: $medium) {

	.search-toggle {
		padding: .75rem 1.5rem;
	}

}
