/**
 * 3.0 Components
 *
 * CSS rules for larger modular components. Components should be made up of
 * individual Elements and should be designed with a focus on being reused
 * around the site.
 *
 *     - 3.1 Cards
 *     - 3.2 Data Tables
 *     - 3.3 Dialogs
 *     - 3.4 Figures
 *     - 3.5 Forms
 *     - 3.6 Grid Lists
 *     - 3.7 Modules
 *     - 3.8 Notifications
 *     - 3.9 Pagination
 *     - 3.10 Row Lists
 *     - 3.11 Search
 *
 * @since 0.9.0
 */

/**
 * 3.1 Cards
 */

@media (min-width: $large) {

	.cards,
	.recent-articles {

		article,
		.card {
			float: left;
			padding: 0 1rem;
			width: 33%;
		}

	}

	.home .recent-articles article {
		width: 20%;
	}

	.blog .cards article {
		width: 25%;
	}

}

.cards,
.recent-articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	grid-auto-rows: minmax(4rem, auto);
	grid-gap: 1.5rem 2rem;

	.article-summary {
		margin-top: .5em;
	}

	.article-image {
		order: -1;
	}

	.article-footer {
		order: -2;
	}
}

@supports (display: grid) {

	.cards,
	.recent-articles {

		article,
		.card {
			display: flex;
			flex-direction: column;
			float: none;
			padding: 0;
			width: auto;
		}

	}

	.home .recent-articles article {
		width: auto;
	}

	.blog .cards article {
		width: auto;
	}

}

.cards .article-title a,
.articles-list .article-title a {

	&:after {
		background-size: 50%;
		margin: -.17em 0 0;
		position: absolute;
	}

}

/**
 * 3.2 Data Tables
 */

@media (max-width: $medium) {

	table,
	caption,
	tbody,
	tr,
	th,
	td {
		display: block;
		text-align: left;
	}

	thead,
	th:empty,
	td:empty {
		display: none;
		visibility: hidden;
	}

	td[data-title]:before {
		content: attr(data-title) ": ";
		display: inline-block;
		padding-right: .25em;
		width: 25%;
	}

	tbody tr {
		margin-bottom: 1.5rem;
	}

	tbody td,
	tfoot th {
		border: none;
		line-height: 1.4;
		padding: 4px 8px;
	}

	table .column-1 {
		font-weight: 600;
	}
}

main {

	table,
	.tablepress {
		font-variant-numeric: lining-nums tabular-nums;
		margin-bottom: 1.5rem;
	}

	thead tr {
		border-bottom: 1px solid lighten($brand-gray, 15%);
		font-weight: 600;
	}

	td,
	th {
		padding: .5em .75em;
		text-align: left;
	}

	th.nums,
	td.nums {
		text-align: right;
	}

	th {
		font-weight: 600;
	}

	.striped {

		tbody tr:nth-child(odd) td {
			background: $neutral-light;
		}

	}
}

/**
 * 3.3 Dialogs
 */

/**
 * 3.4 Figures
 */

figure {

	img {
		max-width: 100%;
	}

}

figcaption {
	color: $neutral-dark;
	font-size: $font-size-1;
	letter-spacing: .02em;
	line-height: normal;
	padding: .3em .5em;
}

/**
 * 3.5 Forms
 */

/* Adds "number" type to the Spine `input[type=$]` styles */
input[type="number"] {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #767676;
	margin: 0;
	padding: 6px 4px;
	outline: 0;
}

.js-search-form {
	display: block;
	margin: 1.5em 0;
}

/**
 * 3.6 Grid Lists
 */

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: auto;

	img {
		border: 0;
		box-sizing: border-box;
		display: block;
		margin: 0 auto;
	}
}

.gallery-item {
	box-sizing: border-box;
	padding: 1rem;
	text-align: center;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item,
.gallery-columns-4 .gallery-item,
.gallery-columns-5 .gallery-item,
.gallery-columns-6 .gallery-item,
.gallery-columns-7 .gallery-item,
.gallery-columns-8 .gallery-item,
.gallery-columns-9 .gallery-item {
	width: 50%;
}

@media (max-width: $medium) {

	.gallery-item:nth-child(odd) {
		padding-left: 0;
	}

	.gallery-item:nth-child(even) {
		padding-right: 0;
	}

}

@media (min-width: $medium) {

	.gallery-item {

		.gallery-columns-1 & {
			width: (100% / 1);
		}

		.gallery-columns-2 & {
			width: (100% / 2);
		}

		.gallery-columns-3 & {
			width: (100% / 3);
		}

		.gallery-columns-4 & {
			width: (100% / 4);
		}

		.gallery-columns-5 & {
			width: (100% / 5);
		}

		.gallery-columns-6 & {
			width: (100% / 6);
		}

		.gallery-columns-7 & {
			width: (100% / 7);
		}

		.gallery-columns-8 & {
			width: (100% / 8);
		}

		.gallery-columns-9 & {
			width: (100% / 9);
		}
	}
}

/*
 * 3.7 Modules
 */

.module {
	border: 8px solid $neutral-dark;
	margin: 1.5rem auto;
	max-width: 54.851em;
	padding: 1.5rem 2rem;

	.module-title {
		color: $neutral-dark;
	}
}

.module-title {
	border-bottom: 4px solid $neutral-light;
	font-size: $font-size-5;
	margin: 0 0 .5em;
	padding: 0 0 .25em;
}

.module--cta {
	@extend .module;
	text-align: center;

	.module-title {
		font-size: $font-size-7;
	}
}

.module--alert {
	@extend .module;
	border-color: $brand-crimson;
	min-width: 300px;
	text-align: center;
	width: 80%;

	.module-title {
		font-size: $font-size-8;
	}

	svg {
		fill: $brand-crimson;
	}

	&.positive {
		border-color: $accent-green;

		svg {
			fill: $accent-green;
		}
	}

	&.caution {
		border-color: $accent-yellow;

		svg {
			fill: $accent-yellow;
		}
	}

	&.warning {
		border-color: $accent-orange;

		svg {
			fill: $accent-orange;
		}
	}
}

/**
 * 3.8 Notifications
 *
 * @todo Replace .hrs-callout classes with .notification classes.
 * @todo Good candidate for a template -- would allow more specific styles if we
 *       didn't need to catch any containing markup.
 */

.notification {
	align-items: center;
	border: 5px solid $neutral-dark;
	border-left-width: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 1.5em auto;
	max-width: 54.851em;
	padding: .75em 1em;

	& > *:not(:first-child) {
		padding-left: 1em;
	}

	& > *:first-child {
		margin-right: auto;
	}
}

.notification--positive {
	@extend .notification;
	border-color: $accent-green;
}

.notification--caution {
	@extend .notification;
	border-color: $accent-yellow;
}

.notification--warning {
	@extend .notification;
	border-color: $accent-orange;
}

@media (min-width: $medium) {

	.notification {
		flex-wrap: nowrap;

		p {
			padding: 0;
		}
	}

}

/**
 * 3.9 Pagination
 */

.pager {
	margin: 1.5rem auto;

	ul {
		display: flex;
		flex-flow: row nowrap;
		padding: 0;
	}

	.pagination a {
		border: 1px solid transparent;
		display: block;
		margin: 0 .25em;
		padding: .75em 1em;

		&:hover,
		&:focus {
			background: $nav-color-hover;
			color: $section-background-color;
		}
	}

	.dots,
	.current {
		display: block;
		margin: 0 .25em;
		padding: .75em 1em;
	}

	.current {
		background: $body-background-color;
		border: 1px solid $neutral-dark;
	}
}

.nav-previous,
.nav-next {
	display: inline-block;
	width: 50%;
}

.nav-next {
	float: right;
	text-align: right;
}

@media (min-width: $small) {

	.pager {

		ul {
			font-size: $font-size-base;
		}
	}

}

/**
 * 3.10 Row Lists
 */

.articles-list,
.recent-articles,
.cards {

	.article-title {
		line-height: 1.1;
		font-size: $font-size-4;
		font-weight: 900;
		padding: .5em 0 .2em;
	}

	.article-footer {
		border: none;
		color: $text-color;
		margin: 0 0 .5em;
		padding: 0;
	}
}

.latest .articles-list,
.features .articles-list {

	.article-title {
		font-size: $font-size-6;
	}

}

@media (min-width: $medium) {

	.articles-list {

		article,
		.list-item {
			display: grid;
			grid-template-columns: minmax(220px, 3fr) minmax(220px, 1fr);
			grid-column-gap: 2rem;
		}

		.article-header,
		.article-summary {
			grid-column: 1;
		}

		.article-image {
			grid-column: 2;
			grid-row: 1 / 3;
		}
	}

	section:not(.features) .articles-list {

		article,
		.list-item {
			font-size: 1rem;
			line-height: 1.5;
			max-width: $large;
		}

		.article-image {
			margin-top: .75em;
			max-height: 7em;
			overflow: hidden;
		}
	}

}

/**
 * 3.11 Search
 */

#search-menu {
	background: $neutral-light;
	box-shadow: 2px 3px 5px 1px rgba(20, 20, 20, .12);
	display: flex;
	flex-flow: row wrap;
	padding: 9rem 2rem 1.5rem;
	position: absolute;
	top: 4.8rem;
	transform: translateY(-100rem);
	transition-delay: .1s;
	transition-duration: .3s;
	transition-property: transform top;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	width: 100%;
	z-index: 200;

	&.is-visible {
		transform: translateY(-4.8rem);
	}
}

.search-toggle {
	padding: .5rem 1rem;
}

.search-toggle[aria-expanded="true"] {
	background: $neutral-dark;
	border-color: $neutral-dark;
	color: $neutral-light;
}

#search-menu .screen-reader-text:focus {
	background: $section-background-color;
	bottom: 7px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
	clip: auto;
	clip-path: inherit;
	color: $nav-color-hover;
	display: block;
	height: auto;
	padding: 15px 23px 14px;
	right: 6px;
	width: auto;
	z-index: 100000;
}

.search-form {
	flex: 1 1 auto;
}

.search-input[type="search"] {
	font-size: $font-size-5;
	width: 90%;
}

.search-links-title {
	font-size: $font-size-6;
	padding-top: .5rem;
	padding-bottom: 1rem;
}

.search-links ul {
	column-count: 2;
	margin: 0 0 1rem;
	padding: 0;

	li {
		line-height: 1.5;
	}
}

.search-links {

	a:after {
		background-size: 80%;
	}

}

@media (min-width: $small) {

	#search-menu {
		padding-top: 7.5rem;
	}

}

@media (min-width: $medium) {

	.search-toggle {
		padding: .75rem 1.5rem;
	}

}
