/**
 * 8.0 Deprecated
 *
 * These styles or selectors have been deprecated and will be removed from
 * future versions. Stop targeting these rules and update any markup that relies
 * on these styles.
 *
 * @since 0.9.0
 */

/**
 * Deprecated Foundation Styles
 *
 * @since 0.11.0
 */

/* We don't use a background or background image so we probably don't need */
html {
	min-height: 100%;

	main {
		min-height: 100%;

		div.page {
			min-height: 80vh;
		}
	}
}


/**
 * Deprecated Typography Styles
 *
 * @since 0.11.0
 */

.two aside {
	font-size: 90%;

	h3 {
		padding-top: 0;
	}
}


/**
 * Deprecated List Styles
 *
 * @since 0.11.0
 */

ul.inline,
ol.inline {
	padding-right: 0;
	padding-left: 0;
}

ul.inline li,
ol.inline li {
	display: inline-block;
	line-height: 1.4;
	margin-right: 1.5rem;
}

ul.inline li:last-child,
ol.inline li:last-child {
	margin-right: 0;
}


/**
 * Deprecated Utility Styles
 *
 * @since 0.11.0
 */

.fixed {
	position: fixed;
	top: 50px;
	margin-top: 0;
	z-index: 1;
	transition: all .3s ease-out;
}

.gray-bg {
	background-color: #e4e4e4;
}


/**
 * Deprecated Button Styles
 *
 * @since 0.9.0
 */

/*
a.button {
	background: #981e32;
	border: none;
	box-sizing: border-box;
	box-shadow: none;
	color: #fff;
	display: block;
	font-weight: 700;
	margin: 0;
	padding: 1rem 0 .75rem;
	text-align: center;
	transition: background-color .3s ease;
	width: 30%;
}

a.button:hover {
	background: #c60c30;
	color: #fff;
}
*/

/* @todo Deprecate class name, replace in markup. */
.hrs-button,
button.hrs-button,
input[type="button"].hrs-button,
input[type="reset"].hrs-button,
input[type="submit"].hrs-button {
	@extend .button-cta;
}

.hrs-button-white,
button.hrs-button-white {
	@extend .button;
}

#button_holder a {
	color: #fff;
	text-decoration: none;

	&:hover,
	&:focus {
		color: #fff;
		text-decoration: none;
	}
}

#buttonholder:after {
	clear: both;
}

.new_button {
	background: #c92f2f;
	background: linear-gradient(to top, #852b2b, #c92f2f);
	border-radius: 8px;
	border-top: 1px solid #696969;
	box-shadow: #000 0 1px 0;
	color: #fff;
	display: inline-block !important;
	font-size: 16px;
	height: 75px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px 20px 20px 0;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	vertical-align: center;
	width: 125px;

	&:hover,
	&:focus {
		background: #981e32;
		border-top-color: #690000;
		box-shadow: 9px 10px 5px #888;
		color: #fff;
	}
}

.new_button_back {
	background: #c92f2f;
	background: linear-gradient(to top, #852b2b, #c92f2f);
	border-radius: 8px;
	box-shadow: #000 0 1px 0;
	border-top: 1px solid #696969;
	color: #fff;
	font-size: 16px;
	height: 35px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 5px 20px 20px 0;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	vertical-align: center;
	width: 75px;
}

.new_button_benefits {
	background: #c92f2f;
	background: linear-gradient(to top, #852b2b, #c92f2f);
	border-radius: 8px;
	border-top: 1px solid #696969;
	box-shadow: #000 0 1px 0;
	color: #fff;
	float: left !important;
	font-size: 16px;
	height: 35px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 5px 20px 20px 0;
	text-align: center;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	vertical-align: center;
	width: 175px;

	&:hover,
	&:focus {
		background: #981e32;
		border-top-color: #690000;
		box-shadow: 9px 10px 5px #888;
		color: #fff;
	}
}


/**
 * Deprecated Table Styles
 *
 * @since 0.9.0
 */

#color-table tr:nth-child(even) {
	background: #f7f6f3;
	padding: 5px;
}

#color-table tr:nth-child(odd) {
	background: #fff;
	padding: 5px;
}

#color-table tr:first-child {
	background: #717171;
	color: #fff;
}


/**
 * Deprecated Builder Banner Styles
 *
 * @since 0.11.0
 */

/* Builder: Banner */
.builder-section-banner {

	/* All banners */
	.builder-banner-content {
		bottom: 0;
		font-size: 1.3rem;
		height: auto;
		min-height: 60%;
		padding: 0;
		width: 100%;
	}

	.builder-banner-content:after {
		display: none;
	}

	.builder-banner-inner-title {
		background-color: #fff;
		background-color: rgba(255, 255, 255, .9);
		color: $brand-crimson;
		font-weight: 600;
		padding: 1rem;
		width: 100%;
	}

	.builder-banner-inner-content {

		p {
			background-color: #fff;
			background-color: rgba(255, 255, 255, .9);
			color: $text-color;
			margin: 0 auto;
			width: 100%;
			font-size: .7em;
			line-height: 1.5;
			padding: 0 1rem 1rem;
		}

	}

	/* Centered layout ("content position: none") */
	.content-position-none .builder-banner-content {
		text-align: center;
		width: 100%;
	}

	/* Left-aligned layout (content-position: left) */
	.content-position-left {
		background-position: center right;
	}

	/* Right-aligned layout (content-position: right) */
	.content-position-right {
		background-position: center left;
	}

}

/**
 * Deprecated Callout Styles
 *
 * Replaced with the `notification` component.
 *
 * @since 0.10.1
 */

.hrs-callout {
	border: 2px solid #a9a9a9;
	border-radius: 3px;
	padding: 1em 1.5em 0;
}

.hrs-priority-positive {
	background-color: #d3e1e3;
	border-color: #aec7cb;
}

.hrs-priority-caution {
	background-color: #f1e4c4;
	border-color: #e5cd93;
}

.hrs-priority-negative {
	background-color: #eddccc;
	border-color: #ddbea1;
}

.hrs-priority-neutral {
	background-color: #eff0f1;
}

/* HRS Banner Callouts */
.hrs-callout-banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	margin: 1.4rem 0;
	text-align: center;
}

.hrs-banner-careers {
	background-image: url(http://hrsdev.hrs.wsu.edu/wp-content/uploads/2016/02/large-1024x347.jpg);
}

.hrs-banner-careers header h2 {
	color: #fff;
	width: 100%;
}

.hrs-callout-gallery {
	margin: 1.4rem auto;
	position: relative;
}

.hrs-callout-gallery h3 {
	font-size: 1.1rem;
	left: 50%;
	margin-right: -50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

.hrs-callout-gallery h3 a.hrs-button {
	font-weight: 400;
	line-height: 1.4;
	padding: .3rem .7rem;
	text-transform: none;
	width: 100%;
}

.hrs-callout-gallery h3 a.hrs-button-priority {
	background: rgba(152, 30, 50, .8);
}

.hrs-callout-gallery h3 a.hrs-button-priority:hover,
.hrs-callout-gallery h3 a.hrs-button-priority:focus {
	background-color: #fff;
	color: rgb(152, 30, 50);
}

.hrs-callout-gallery div.gallery-columns-3 {
	max-width: 600px;
}

.hrs-callout-gallery div.gallery-columns-3 .gallery-item {
	max-width: 33%;
	margin: 0 0 -.5em 0;
	position: relative;
}

.hrs-callout-gallery .gallery img {
	border: none;
}

.hrs-callout-gallery .gallery .gallery-caption {
	color: #fff;
	left: 50%;
	margin-right: -50%;
	margin-left: 0;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/**
 * Deprecated Gallery Style
 *
 * @since 0.10.0
 */

.hrs-gallery {
	@extend .gallery;
}


/**
 * Deprecated Spine Overrides
 *
 * @since 0.9.0
 */

/* Not sure what this is supposed to target.
.main-header {
	display: none;
}

#spine {

	#glue:before {
		border-right: 1px solid #efefef;
	}

	.spine-actions > ul li {
		width: 33%;
	}

	.spine-navigation {
		padding-bottom: 66px !important;
	}

	&.crimson .spine-sitenav {

		li.dogeared > a
		a:hover,
		a:focus {
			cursor: pointer !important;
		}
	}
}

@media screen and (max-width: 989px) {

	.spine-mobile #glue {
		display: none !important;
	}

}

@media only screen and (min-width: 990px) and (max-width: 1699px) {

	.fixed {
		position: relative !important;
	}

}
*/

/**
 * 4.2 Columns
 *

.nested-halves {
	width: 100%;
	display: inline-block;
	text-align: top;
	clear: both;
	padding-top: 0;
	margin-top: 0;
}

.nested-halves .nested-one {
	display: block;
	width: 49%;
	float: left;
	padding-right: 1%;
}

.nested-halves .nested-two {
	display: block;
	width: 49%;
	float: left;
	padding-left: 1%;
}

.nested-thirds {
	width: 100%;
	display: inline-block;
	clear: both;
}

.nested-thirds .nested-one {
	display: block;
	width: 33.33333333333333%;
	float: left;
	padding-right: 4%;
}

.nested-thirds .nested-two {
	display: block;
	width: 33.33333333333333%;
	float: left;
	padding-right: 4%;
}

.nested-thirds .nested-three {
	display: block;
	width: 33.33333333333333%;
	float: left;
}

.nested-gutter {
	padding-left: 1%;
	padding-right: 1%;
}

.nested-one,
.nested-two,
.nested-three {

	h5 {
		background: #981e32;

		a {
			color: #fff;

			&:hover,
			&:focus {
				color: #b5babe;
			}
		}
	}

	ul {
		background-color: #fff;
		border-radius: 5px;
	}
}
*/
