/**
 * 0.2 Deprecated
 *
 * These styles or selectors have been deprecated and will be removed from
 * future versions. Stop targeting these rules and update any markup that relies
 * on these styles.
 *
 * @since 0.9.0
 */

/**
 * Deprecated Builder Page Styles
 *
 * Stop-gap styles targeting Builder Template pages for until the Builder
 * template is phased out.
 *
 * @since 0.17.0
 */

.page-template-template-builder {

	.h1-header {
		padding-bottom: 3rem;
	}
}

@media (min-width: $large) {

	.page-template-template-builder {

		div.page .row.single .column {
			width: 70%;
		}

		div.page .row.single.builder-section-banner .column,
		div.page .row.single.full-width .column {
			width: 100%;
		}
	}

}

/**
 * Deprecated Builder Banner Styles
 *
 * @since 0.11.0
 */

/* Builder: Banner */
.builder-section-banner {

	// Something between Builder and Gutenberg litters markup with empty p tags.
	p:empty {
		display: none;
	}

	.builder-banner-content {
		background-color: #fff;
		background-color: rgba(255, 255, 255, .9);
		border: none;
		box-sizing: border-box;
		color: #fff;
		display: block;
		height: auto;
		left: 50%;
		line-height: 1.35;
		overflow: hidden;
		position: absolute;
		text-shadow: 1px 0 8px rgba(0, 0, 0, .15);
		top: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}

	.builder-banner-inner-title {
		color: $brand-crimson;
		font-weight: 600;
		padding: 1rem;
	}

	.builder-banner-inner-content {
		justify-content: flex-start;

		p {
			color: $text-color;
			margin-top: 1px;
			padding: 0 1rem 1rem;
		}

	}

	.content-position-none .builder-banner-content {
		text-align: center;
	}

	.content-position-left {
		background-position: center right;
	}

	.content-position-right {
		background-position: center left;
	}

}

@media (min-width: $medium) {

	.builder-section-banner .builder-banner-content {
		width: 80%;
	}

}

.banner-container {

	/*
	 * Make banner repsect other elements' z-index values.
	 * Add this class to the Banner section classes on the edit post screen.
	 */
	z-index: 1;

}

/**
 * 4.2 Columns
 */

/* @todo Find any pages still using these and use something, else then delete.*/
@media only screen and (min-width: 640px) {

	.hrs-two-col {
		width: 47%;
		clear: none !important;
	}

	.hrs-1-of-4 {
		width: 23%;
	}

	.hrs-1-of-5 {
		width: 20%;
	}

	.hrs-2-of-5 {
		width: 40%;
	}

	.hrs-3-of-5 {
		width: 60%;
	}

	.hrs-4-of-5 {
		width: 80%;
	}

	.gform_wrapper .gfield_error.hrs-two-col {
		width: 47%;
	}
}
