body.home #wsuwp-main ul.wp-block-social-links {
	margin-top: 0.5rem;
	max-width: 1386px;
}

.home {

	& .spineless .alignfull {
		max-width: 1386px;
	}

	& #binder.spineless #wsuwp-main section:nth-of-type(-n+2) {
		background: transparent;
	}

	& #spine.cropped #glue {
		box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
	}

}

@media (min-width: 61.875em) {

	.home #spine.cropped:not(.skimmed) {
		margin-left: 2rem;
	}

	.home .article-content .quick-links-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

}
