/**
 * 1.0 Globals
 *
 * CSS rules for all elements that are universal across the site, no matter the
 * page or the viewing device. This includes setting a baseline for the site, as
 * well as defining variables for color and and typograpy. This also includes
 * defining standard rules for things like lists and links. This section also
 * includes some limited utility classes for things like on-the-fly alignment.
 *
 *     - 1.1 Foundation
 *     - 1.2 Typography
 *     - 1.3 Links
 *     - 1.4 Lists
 *     - 1.5 Utility
 *
 * @since 0.9.0
 */


/**
 * 1.1 Foundation
 */

html {
	min-height: 100%;

	main {
		min-height: 100%;

		div.page {
			min-height: 80vh;
		}
	}
}


/**
 * 1.2 Typography
 */

.two aside {
	font-size: 90%;

	h3 {
		padding-top: 0;
	}
}


/**
 * 1.4 Links
 */


/**
 * 1.5 Lists
 */


/**
 * 1.6 Utility
 */

%center-middle {
	position: relative;

	> *:first-child {
		left: 50%;
		margin: 0 -50% 0 0;
		padding: 0;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.textaligncenter {
	text-align: center;
}
