/*
 * @todo Settle on primary and secondary colors and rename
 *       then also settle on the purpose of the secondary and
 *       accent colors and rename them to match.
 */
$brand-crimson: #981e32;
$brand-gray: #5e6a71;

$orange: #b67233;
$green: #8f7e35;
$blue: #4f868e;
$yellow: #c69214;

$accent-crimson: #c60c30;
$accent-green: #ada400;
$accent-orange: #f6861f;
$accent-blue: #00a5bd;
$accent-yellow: #ffb81c;

$neutral-dark: #2a3033;
$neutral-light: #eff0f1;
$dark-dark: #191919;

$text-color: $dark-dark;

$nav-color: $brand-crimson;
$nav-color-border: #da1e00;
$nav-color-hover: $accent-crimson;

$sans-serif-fonts: "Source Sans Pro", "Lucida Sans", geneva, verdana, sans-serif;
