/**
 * 5.0 Templates
 *
 * Template-specific rules for specific page styles. These generally align with
 * theme templates and template parts, and should be made up of Elements,
 * Components, and Layouts.
 *
 *     - 5.1 Header
 *     - 5.2 Footer
 *     - 5.3 Article
 *     - 5.4 Archive
 *     - 5.4 Multi-part Page
 *
 * @since 0.9.0
 */

/**
 * 5.1 Header
 *
 * @since 0.11.0
 */

.banner {

	.column {
		align-items: center;
		border-top: 6px solid $brand-crimson;
		display: flex;
		justify-content: flex-end;
		padding: 0 1rem;
		z-index: 900;
	}

}

.site-title {
	border: none;
	color: $brand-crimson;
	font-size: $font-size-4;
	margin: .75rem 1rem .75rem 0;
}

@media (min-width: $medium) {

	.site-title {
		font-size: $font-size-6;
		margin: 1rem 2rem;
	}

}

@media (min-width: $large) {

	.banner {

		.column {
			padding: 0 2rem;
		}

	}

	.site-title {
		font-size: $font-size-7;
		margin: 1.5rem 2rem;
	}

}

/**
 * 5.2 Footer
 *
 * @since 0.11.0
 */

.site-footer {

	nav {

		ul {
			font-size: .9rem;
			padding: 0;
		}

		a {
			border-bottom: none;
		}

	}

}

.footer-nav {
	display: flex;
	flex-flow: row nowrap;

	nav {
		flex: 3 1 auto;
		margin: 1.5rem 2rem;
	}

	.wsu-brand {
		flex: 1 1 auto;
		margin: 1.5rem 2rem;
		position: relative;
	}

	.wsu-cougar-head {
		bottom: 0;
		width: 100px;
		height: auto;
		position: absolute;
		right: 0;
	}

	.footer-nav-title {
		font-weight: 600;
	}
}

.site-reference {
	background: $brand-crimson;
	color: #fff;

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;

		li {
			padding: 0;
		}
	}

	a {
		color: #fff;
		display: block;
		font-weight: 400;
		padding: 1em .75em;

		&:hover,
		&:focus {
			color: $neutral-light;
			text-decoration: underline;
		}
	}
}

/**
 * 5.3 Article
 */

.article-date {
	color: lighten($neutral-dark, 30%);
}

/**
 * 5.4 Archive
 */

.recent-articles {}

/**
 * 5.4 Multi-part Page
 */
