.editor-styles-wrapper {

	& .quick-links-container {
		column-gap: 1.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style-type: none;
		margin-top: 2rem;
		margin-bottom: 4rem;
		row-gap: 4.5rem;

		& a:not(.wp-block-button__link) {
			align-items: center;
			background-color: var(--wp--custom--wsu-color-black--3);
			border-radius: 5px;
			box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
			color: var(--wp--custom--wsu-color-black--100);
			display: grid;
			font-size: var(--wp--preset--font-size--medium);
			font-weight: 600;
			height: 100%;
			padding: 12px 24px;
			text-decoration: none;
			transition: all 0.333s cubic-bezier(0, 0, 0.03, 1);

			&::before {
				background-image: url(images/info.svg);
				background-position: center 100%;
				background-repeat: no-repeat;
				background-size: contain;
				content: "";
				display: inline-block;
				height: 1.5rem;
				margin: 0 0.4em -0.2em 0;
				width: 1.5rem;
			}

			&:hover,
			&:focus {
				background-color: var(--wp--custom--wsu-color-black--10);
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
			}
		}

		& a.has-icon-form::before {
			background-image: url(images/form.svg);
		}

		& a.has-icon-person::before {
			background-image: url(images/person.svg);
		}

		& a.has-icon-spa::before {
			background-image: url(images/spa.svg);
		}
	}

	& .atoz {
		padding: 0 0 1.5em;
		white-space: normal !important;

		& li {
			border: 1px solid var(--wp--custom--wsu-color-core--crimson);
			display: inline-block;
			margin: 0.2em 0.1em;
			padding: 0;
			text-align: center;
		}

		& li a:not(.is-style-secondary) {
			border-bottom: none;
			color: var(--wp--custom--wsu-color-core--crimson);
			display: block;
			font-weight: 400;
			min-width: 2.3em;
			padding: 15px 10px;
			text-decoration: none;
			transition: all 0.5s ease;

			&:hover,
			&:focus {
				background-color: var(--wp--custom--wsu-color-core--crimson);
				color: #fff;
			}
		}
	}

}

@media (min-width: 61.875em) {

	.editor-styles-wrapper .quick-links-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

}
