.editor-styles-wrapper {

	& .quick-links-container {
		column-gap: 1.5rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		list-style-type: none;
		margin-top: 2rem;
		margin-bottom: 5.5rem;
		row-gap: 4.5rem;
		text-align: center;

		& a {
			align-items: center;
			background-color: var(--wp--custom--wsu-color-black--3);
			border-radius: 5px;
			box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
			color: var(--wp--custom--wsu-color-black--100);
			display: grid;
			font-size: var(--wp--preset--font-size--medium);
			font-weight: 600;
			height: 100%;
			padding: 26px 24px;
			text-decoration: none;
			transition: all 0.333s cubic-bezier(0, 0, 0.03, 1);

			&:hover,
			&:focus {
				background-color: var(--wp--custom--wsu-color-black--10);
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
			}
		}
	}

}

@media (min-width: 61.875em) {

	.editor-styles-wrapper .quick-links-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

}
