h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 0.4em;
	padding: 0;
}

h1 {
	font-size: var(--font-size-8);
	margin: 0;
}

h2 {
	font-size: var(--font-size-6);
}

h3 {
	font-size: var(--font-size-4);
}

h4 {
	font-size: var(--font-size-2);
}

h5 {
	font-size: var(--font-size-base);
}

h6 {
	font-size: var(--font-size-1);
}
