h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.4;
	margin-top: 1em;
	margin-bottom: 0.4em;
	padding: 0;

	&.has-background {
		padding: 1.25em 2.375em;
	}

	&.is-style-callout {
		margin-top: 2.5rem;
		margin-bottom: 1em;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		&::after {
			background-color: var(--wp--preset--color--secondary-crimson);
			content: "";
			display: block;
			height: 0.2em;
			margin-top: 0.35em;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			width: 1em;
		}
	}
}

h1 {
	font-size: var(--wp--custom--typography--massivex);
	font-weight: 800;
	margin-top: 0;
}

h1:not(.post) {
	margin-top: 0.4em;
	padding-bottom: 0.3em;
	position: relative;

	&::after {
		background-color: var(--wp--preset--color--secondary-crimson);
		bottom: -4px;
		content: "";
		display: block;
		height: 0.075em;
		left: 0;
		position: absolute;
		width: 2.25em;
	}
}

h2 {
	font-size: var(--wp--preset--font-size--huge);
	font-weight: 700;
}

h3 {
	font-size: var(--wp--preset--font-size--large);
	font-weight: 600;
}

h4 {
	font-size: var(--wp--custom--typography--normalx);
	font-weight: 600;
}

h5 {
	font-size: var(--wp--preset--font-size--normal);
}

h6 {
	font-size: var(--wp--preset--font-size--small);
}
