abbr[title],
acronym[title] {
	border-bottom: 2px dotted;
	text-decoration: none;
}

ins {
	background-color: var(--wp--custom--wsu-color-accent--vineyard);
	color: var(--wp--preset--color--black);
	margin: -0.05em 0;
	padding: 0.05em 0.25em;
}
