.article-content,
.search-links {

	& a:not(.wp-block-button__link):not(.is-style-secondary) {
		color: var(--wp--preset--color--primary-crimson);
		text-decoration-color: var(--wp--preset--color--secondary-crimson);
		text-decoration-thickness: 0.1em;
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			color: var(--wp--preset--color--secondary-crimson);
			text-decoration-thickness: 0.2em;
		}
	}

}

a.is-style-secondary,
.article-taxonomy--primary ul a {
	color: var(--wp--custom--wsu-color-black--70);
	text-decoration-color: var(--wp--custom--wsu-color-black--50);
	text-decoration-thickness: 0.1em;
	transition: all 0.2s ease;

	&:hover,
	&:focus {
		text-decoration-thickness: 0.2em;
	}
}
