.site-header,
main {

	& a {
		border-bottom: 1px solid var(----wp--custom--wsu-color-accent--crimson);
		color: var(--wp--custom--wsu-color-black--90);
		font-weight: 600;
		text-decoration: none;
		transition: all 0.3s ease;

		&:hover,
		&:focus {
			color: var(--wp--custom--wsu-color-core--gray);
		}
	}

	& h1 a,
	& h2 a,
	& h3 a,
	& h4 a,
	& h5 a,
	& h6 a {
		font-weight: 700;
	}

}
