/**
 * 6.0 Pages
 *
 * A section for CSS rules targeting specific individual pages. These should be
 * used sparingly and only for unique pages such as the homepage.
 *
 *     - 6.1 Homepage
 *     - 6.2 Spokane and Tri-Cities
 *
 * @since 0.9.0
 */

/**
 * 6.1 Homepage
 *
 * @since 0.11.0
 */

/*
 * Adust the seach menu width on the homepage to dodge the WSU banner.
 *
 * @todo At the WSU small-screen breakpoint, when the WSU banner moves, can
 *       use full width; so set this only in a breakpoint above that.
 */

.home #search-menu {
	right: 0;
	width: 60%;
}

.home-main-subnav a,
.home-detail-subnav h2 a {
	background-color: $neutral-dark;
	border-bottom: none;
	border-right: 3px solid #fff;
	color: #fff;
	display: block;
	padding: .9em;

	&:hover {
		background: $nav-color-hover;
		color: #fff;
	}
}

/*
 * @todo Base style should be flex column with no border. Change this to non-
 *       mobile display.
 */

.home-main-subnav nav {

	ul {
		display: flex;
		padding: 0;
	}

	li {
		flex: 1 1 auto;
		font-size: 1.2rem;
		padding: 0;
		text-align: center;
	}

	li:last-of-type a {
		border-right: none;
	}
}

.home-detail-subnav {
	background-color: transparent;

	h2 {
		padding: 0;
	}

	h2 a {
		background-color: $brand-crimson;
		border-right: none;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		font-size: 1.4rem;
	}

	ul {
		background-color: $section-background-color;
		padding: 1.5em 2em;
	}
}

/**
 * 6.5 Spokane and Tri-Cities
 *
 * @since 0.11.0
 */

.page-tricities .builder-banner-inner-title,
.page-spokane .builder-banner-inner-title {
	font-size: 2.4rem;
	margin: auto;
	width: 400px;
	width: fit-content;
}

.page-tricities,
.page-spokane {

	.cards {
		padding: 1.5rem 0;
		text-align: center;
	}

	.aligncenter {
		margin: auto;
	}

	.article-title {
		font-size: 1.4rem;
		font-weight: 600;
		padding: .5rem 0;
	}

	.article-image img:hover,
	.article-image img:focus {
		opacity: .6;
	}
}
