/* Import styles for rendering content of deprecated gallery versions. */
@import "./deprecated.css";

/*
 * The following is a temporary override until flex layout supports
 * an align items setting of normal.
 */
figure.wp-block-gallery.has-nested-images {
	align-items: normal;
}

.wp-block-gallery.has-nested-images {
	display: flex;
	flex-wrap: wrap;

	/*
	 * Need bogus :not(#individual-image) to override long :not()
	 * specificity chain on default image block on front end.
	 */
	& figure.wp-block-image:not(#individual-image) {
		width: calc(50% - 1em / 2);
		margin: 0;
	}

	& figure.wp-block-image {
		display: flex;
		flex-grow: 1;
		justify-content: center;
		position: relative;
		flex-direction: column;
		max-width: 100%;

		& > div,
		& > a {
			margin: 0;
			flex-direction: column;
			flex-grow: 1;
		}

		& img {
			display: block;
			height: auto;
			max-width: 100%;
			width: auto;
		}

		& figcaption {
			background: var(--wp--preset--color--black);
			bottom: 0;
			box-sizing: border-box;
			color: var(--wp--preset--color--white);
			left: 0;
			margin-bottom: 0;
			max-height: 60%;
			overflow: auto;
			padding: 0.75em 0.5em;
			position: absolute;
			width: 100%;

			& img {
				display: inline;
			}
		}

		&.is-style-rounded {

			& > div,
			& > a {
				flex: 1 1 auto;
			}

			& figcaption {
				flex: initial;
				background: none;
				color: inherit;
				margin: 0;
				padding: 10px 10px 9px;
				position: relative;
			}

		}

	}

	& figcaption {
		flex-grow: 1;
		flex-basis: 100%;
		text-align: center;
	}

	&:not(.is-cropped) {

		& figure.wp-block-image:not(#individual-image) {
			margin-top: 0;
			margin-bottom: auto;

			& figcaption {
				bottom: 1em;
			}
		}

	}

	&.is-cropped figure.wp-block-image:not(#individual-image) {
		align-self: inherit;

		& > div:not(.components-drop-zone),
		& > a {
			display: flex;
		}

		& a,
		& img {
			width: 100%;
			flex: 1 0 0%;
			height: 100%;
			object-fit: cover;
		}
	}

	&.columns-1 figure.wp-block-image:not(#individual-image) {
		width: 100%;
	}

	/* If the gallery is centered, center the content inside as well. */
	&.aligncenter {
		justify-content: center;
	}

}

@media (min-width: 43em) {

	.wp-block-gallery.has-nested-images {

		&.columns-3 figure.wp-block-image:not(#individual-image) {
			width: calc((100% / 3) - 1em);
		}

		&.columns-4 figure.wp-block-image:not(#individual-image) {
			width: calc((100% / 4) - 1em);
		}

		&.columns-5 figure.wp-block-image:not(#individual-image) {
			width: calc((100% / 5) - 1em);
		}

		&.columns-6 figure.wp-block-image:not(#individual-image) {
			width: calc((100% / 6) - 1em);
		}

		&.columns-7 figure.wp-block-image:not(#individual-image) {
			width: calc((100% / 7) - 1em);
		}

		&.columns-8 figure.wp-block-image:not(#individual-image) {
			width: calc((100% / 8) - 1em);
		}

		/* Prevent collapsing margin while sibling is being dragged. */
		& figure.wp-block-image:not(#individual-image).is-dragging ~ figure.wp-block-image:not(#individual-image) {
			margin-right: 1em;
		}

		/* If number of columns not set, default to 3 if 3 or more images. */
		&.columns-default {

			& figure.wp-block-image:not(#individual-image) {
				width: calc(33.33% - 1em);
			}

			/* If only 2 child images use 2 columns. */
			& figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2),
			& figure.wp-block-image:not(#individual-image):first-child:nth-last-child(2) ~ figure.wp-block-image:not(#individual-image) {
				width: calc(50% - 1em * 0.5);
			}

			/* For a single image set to 100%. */
			& figure.wp-block-image:not(#individual-image):first-child:nth-last-child(1) {
				width: 100%;
			}

		}

	}

}
