.wp-block-pullquote {
	padding: 3em 0;
	margin-bottom: 1em;
	text-align: center;
	border: 1px solid;
	border-top-width: 8px;

	&.has-background:not(.has-light-background-color) {
		color: var(--wp--preset--color--light);

		& a:not(.wp-block-button__link):not(.is-style-secondary) {
			color: var(--wp--preset--color--light);
			text-decoration-color: var(--wp--preset--color--light);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--light);
				color: var(--wp--preset--color--primary-crimson);
			}

		}

	}

	& blockquote p {
		font-size: var(--wp--preset--font-size--huge);
		line-height: 1.5;
	}
}

.wp-block[data-align="left"] > .wp-block-pullquote,
.wp-block[data-align="right"] > .wp-block-pullquote {
	margin-right: 2em;
	margin-left: 2em;
	width: calc(var(--wp--custom--layout--wide-size) / 2);

	& p {
		font-size: var(--wp--preset--font-size--large);
	}
}

.wp-block-pullquote__citation {
	color: inherit;
	font-size: inherit;
	font-style: italic;
	text-transform: none;

	&::before {
		content: "- ";
	}
}
