.wp-block-pullquote {
	padding: 3em 0;
	margin-bottom: 1em;
	text-align: center;
	border: 1px solid;
	border-top-width: 8px;

	& p {
		font-size: var(--wp--preset--font-size--huge);
		line-height: 1.5;
	}

	&.has-background:not(.has-light-background-color) {
		color: var(--wp--preset--color--light);

		& a:not(.wp-block-button__link):not(.is-style-secondary) {
			color: var(--wp--preset--color--light);
			text-decoration-color: var(--wp--preset--color--light);

			&:hover,
			&:focus {
				background-color: var(--wp--preset--color--light);
				color: var(--wp--preset--color--primary-crimson);
			}

		}

	}

	&:not(.has-border-color) {
		border-color: var(--wp--custom--wsu-color-black--90);
	}

	&.alignleft p,
	&.alignright p {
		font-size: var(--wp--preset--font-size--large);
	}

	&.has-text-align-left blockquote {
		text-align: left;
	}

	&.has-text-align-right blockquote {
		text-align: right;
	}

	& cite,
	& footer {
		position: relative;
	}
}

/* .is-style-solid-color is deprecated. */
.wp-block-pullquote:not(.is-style-solid-color) {
	background: none;
}

/* .is-style-solid-color is deprecated. */
.wp-block-pullquote.is-style-solid-color {
	border: none;

	& blockquote {
		margin-left: auto;
		margin-right: auto;
		max-width: 60%;

		& p {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 2em;
		}

		& cite {
			text-transform: none;
			font-style: normal;
		}
	}
}
