input[type="datalist"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
select,
textarea {
	color: var(--wp--custom--wsu-color-black--90);
	border: 1px solid var(--wp--custom--wsu-color-black--20);
	background: var(--wp--custom--wsu-color-black--3);
	border-radius: 4px;
}
