input[type="datalist"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
select,
textarea {
	color: var(--text-color);
	border: 1px solid #ccc;
	background: #f8f8f8;
	border-radius: 4px;
}
