@import "./socials-with-bg.css";
@import "./socials-without-bg.css";

.wp-block-social-links {
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	padding-left: 0;
	padding-right: 0;
	text-indent: 0;
	margin-left: 0;

	& .wp-social-link a,
	& .wp-social-link a:focus,
	& .wp-social-link a:hover {
		text-decoration: none;
		border-bottom: none;
		box-shadow: none;
	}

	& .wp-social-link {
		border-radius: 9999px; /* This makes it pill-shaped instead of oval, in cases where the image fed is not perfectly sized. */
		color: var(--wp--custom--wsu-color-black--90) !important;
		display: block;
		height: auto;
		padding: 0;
		transition: transform 0.1s ease;

		& a {
			display: block;
			line-height: 0;
			padding: 0.25em;
			transition: transform 0.1s ease;
		}

		& a.wp-block-social-link-anchor,
		& a.wp-block-social-link-anchor:hover,
		& a.wp-block-social-link-anchor:focus,
		& a.wp-block-social-link-anchor:active,
		& a.wp-block-social-link-anchor:visited,
		& svg {
			color: currentcolor;
			fill: currentcolor;
		}

		& svg {
			height: 1em;
			width: 1em;
		}

		&:hover,
		&:focus {
			transform: scale(1.1);
		}
	}

	&:not(.is-style-logos-only) .wp-social-link {
		background-color: var(--wp--custom--wsu-color-black--3) !important;
	}

	&.is-style-logos-only .wp-social-link {
		width: auto;

		& svg {
			height: 1.25em;
			width: 1.25em;
		}
	}

	&.is-style-pill-shape .wp-social-link {
		padding-left: calc((2/3) * 1em);
		padding-right: calc((2/3) * 1em);
		width: auto;
	}

	&.has-small-icon-size {
		font-size: 16px;
	}

	&.has-normal-icon-size {
		font-size: 24px;
	}

	&.has-large-icon-size {
		font-size: 36px;
	}

	&.has-huge-icon-size {
		font-size: 48px;
	}

	&.aligncenter {
		justify-content: center;
	}

	&.alignright {
		justify-content: flex-end;
	}

}

@media (prefers-reduced-motion: reduce) {

	.wp-social-link {
		transition: none;
	}

}
