@import "./socials-with-bg.css";
@import "./socials-without-bg.css";

.wp-block-social-links {
	display: flex;
	flex-wrap: wrap;
	font-size: 24px;
	padding-left: 0;
	padding-right: 0;
	text-indent: 0;
	margin-left: 0;

	& .wp-social-link a,
	& .wp-social-link a:focus,
	& .wp-social-link a:hover {
		text-decoration: none;
		border-bottom: none;
		box-shadow: none;
	}

	& .wp-social-link {
		margin: 4px 8px 4px 0;
		padding: 0;

		& a {
			padding: 0.25em;
		}

		& svg {
			height: 1em;
			width: 1em;
		}
	}

	&.has-small-icon-size {
		font-size: 16px;
	}

	&.has-normal-icon-size {
		font-size: 24px;
	}

	&.has-large-icon-size {
		font-size: 36px;
	}

	&.has-huge-icon-size {
		font-size: 48px;
	}

	&.aligncenter {
		display: flex;
		justify-content: center;
	}

	&.alignright {
		justify-content: flex-end;
	}

}

.wp-social-link {
	border-radius: 9999px; /* This makes it pill-shaped instead of oval, in cases where the image fed is not perfectly sized. */
	display: block;
	height: auto;
	transition: transform 0.1s ease;

	& a {
		display: block;
		line-height: 0;
		transition: transform 0.1s ease;
	}

	& a,
	& a:hover,
	& a:focus,
	& a:active,
	& a:visited,
	& svg {
		color: currentColor;
		fill: currentColor;
	}

	&:hover,
	&:focus {
		transform: scale(1.1);
	}
}

@media (prefers-reduced-motion: reduce) {

	.wp-social-link {
		transition: none;
	}

}

/* Treatment for logos-only and pill-shape styles. */
.wp-block-social-links.is-style-logos-only,
.wp-block-social-links.is-style-pill-shape {

	& .wp-social-link {
		width: auto;
	}

	& .wp-social-link a {
		padding-left: calc((2/3) * 1em);
		padding-right: calc((2/3) * 1em);
	}

}
