.search-form {
	display: flex;
}

.search-form,
.wp-block-search {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	& .wp-block-search__inside-wrapper {
		display: flex;
	}

	& input {
		background-color: var(--wp--custom--wsu-color-black--3);
		border: 1px solid var(--wp--custom--wsu-color-black--80);
		border-radius: 5px;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.02);
		font-size: var(--wp--preset--font-size--medium);
		line-height: 1.5;
		margin: 0;
		padding: 20px;
		transition: box-shadow 0.3s cubic-bezier(0, 0, 0.03, 1);
		width: 100%;

		&:focus {
			border-color: var(--wp--custom--wsu-color-black--40);
			box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.03), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 4px 15px 0 rgba(0, 0, 0, 0.02);
			outline: none;
		}
	}

	& input[type="search"] {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		outline-offset: -2px;
	}

	& .wp-block-search__button {
		background-color: var(--wp--preset--color--primary-crimson);
		border: 1px solid transparent;
		border-top-right-radius: 5px;
		border-top-left-radius: 0;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 0;
		box-sizing: border-box;
		color: var(--wp--preset--color--white);
		cursor: pointer;
		display: inline-block;
		font-family: inherit;
		font-size: var(--wp--preset--font-size--normal);
		flex-shrink: 1;
		line-height: 1.5;
		overflow-wrap: break-word;
		padding: 0.75rem 1.5rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s ease;
		width: auto;
		white-space: normal;

		&:hover,
		&:focus {
			background-color: var(--wp--preset--color--white);
			border-color: var(--wp--preset--color--secondary-crimson);
			color: var(--wp--preset--color--secondary-crimson);
		}
	}

}

.wp-block-search {

	& label {
		font-size: var(--wp--preset--font-size--medium);
	}

	& .wp-block-search__button.has-icon {
		line-height: 0;

		&:hover .search-icon,
		&:focus .search-icon {
			fill: var(--wp--preset--color--secondary-crimson);
		}
	}

	& .search-icon {
		height: 36px;
		fill: var(--wp--preset--color--white);
		width: 36px;
	}

}
