.search-form {
	display: flex;
}

.search-form,
.wp-block-search {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	/* stylelint-disable selector-class-pattern */
	& .wp-block-search__inside-wrapper {
		display: flex;
	}

	& input {
		border: 1px solid #ccc;
		border-radius: 5px;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.03), 0 0 0 0 rgba(0, 0, 0, 0.02);
		font-size: var(--font-size-2);
		line-height: 1.5;
		margin: 0;
		padding: 20px;
		transition: box-shadow 0.3s cubic-bezier(0, 0, 0.03, 1);
		width: 100%;

		&:focus {
			border-color: #999;
			box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.03), 0 3px 14px 2px rgba(0, 0, 0, 0.03), 0 4px 15px 0 rgba(0, 0, 0, 0.02);
			outline: none;
		}
	}

	& input[type="search"] {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		outline-offset: -2px;
	}

	& .search-submit,
	& .wp-block-search__button {
		border: none;
		border-top-right-radius: 5px;
		border-top-left-radius: 0;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 0;
		flex-shrink: 1;
		width: auto;
	}
	/* stylelint-enable selector-class-pattern */
}

.wp-block-search label {
	align-self: center;
	font-size: var(--font-size-2);
	margin-right: 1rem;
}
