@media (max-width: 43em) {

	.wp-block-table.is-collapsible table,
	.tablepress.is-collapsible {

		& caption,
		& tbody,
		& tr,
		& th,
		& td {
			display: block;
			text-align: left;
		}

		& thead,
		& th:empty,
		& td:empty {
			display: none;
			visibility: hidden;
		}

		& td[data-column]::before {
			content: attr(data-column) ": ";
			display: inline-block;
			font-weight: 600;
			padding-right: 0.25em;
			width: 25%;
		}

		& tbody tr {
			margin-bottom: 1.5rem;
		}

		& tbody td,
		& tfoot th {
			border: none;
			line-height: 1.4;
			padding: 4px 8px;
		}

		& .column-1 {
			font-weight: 600;
		}

	}

}

.wp-block-table table,
.tablepress {
	border-collapse: collapse;
	border-spacing: 0;
	border: none;
	font-variant-numeric: lining-nums tabular-nums;
	margin-bottom: 1.5rem;
	width: 100%;
}

thead tr {
	font-weight: 600;
}

tbody tr {
	border-bottom: 1px solid var(--wp--custom--wsu-color-black--20);
}

.wp-block-table td,
.wp-block-table th {
	padding: 0.45em;
	text-align: left;
}

th.nums,
td.nums {
	text-align: right;
}

th {
	background-color: var(--wp--custom--wsu-color-black--10);
	font-weight: 600;
}

.wp-block-table.is-style-stripes tr:nth-child(odd) {
	background: var(--wp--custom--wsu-color-black--3);
}

.wp-block-table .has-fixed-layout,
.tablepress.has-fixed-layout {
	table-layout: fixed;
}

.sticky-header th {
	position: relative;
	position: sticky;
	top: 49px;
}

@media ( min-width: 989px ) {

	.sticky-header th {
		top: -1px;
	}

	body.admin-bar .sticky-header th {
		top: 31px;
	}

}

.tablepress tfoot th,
.tablepress thead th {
	background-color: var(--wp--custom--wsu-color-black--10);
	vertical-align: inherit;
}

.tablepress thead th {
	border-bottom: inherit;
}

.dataTables_filter {
	float: none;
	margin-bottom: 1em;
}

.hrs-representation-table .column-1 {
	width: 450px !important;
}

.hrs-previous-representation-cases-table .column-1 {
	width: 500px !important;
}

.hrs-representation-table .column-2,
.hrs-previous-representation-cases-table .column-2 {
	width: 150px !important;
}

.hrs-representation-table .column-3,
.hrs-previous-representation-cases-table .column-3 {
	width: 100px !important;
}
