.wp-block-code,
.wp-block-code .editor-plain-text,
.wp-block-code .block-editor-plain-text {
	background-color: var(--wp--custom--wsu-color-black--90);
	color: var(--wp--preset--color--white);
	font-size: var(--wp--custom--typography--normal);
}

.wp-block-code .block-editor-plain-text:focus {
	color: var(--wp--preset--color--white);
}

.editor-styles-wrapper .wp-block.wp-block-preformatted {
	font-family: "Courier New", Courier, monospace;
}
