.wp-block-code,
.wp-block-code .editor-plain-text,
.wp-block-code .block-editor-plain-text {
	background-color: var(--text-color);
	color: #fff;
	font-size: var(--wp--custom--typography--normal);
}

.wp-block-code .block-editor-plain-text:focus {
	color: #fff;
}

.editor-styles-wrapper .wp-block.wp-block-preformatted {
	font-family: "Courier New", Courier, monospace;
}
