pre.wp-block-code,
pre.wp-block-preformatted,
pre.wp-block-verse {
	margin-bottom: 1em;
}

pre.wp-block-code {
	background-color: var(--wp--custom--wsu-color-black--90);
	border-radius: 4px;
	color: var(--wp--preset--color--white);
	overflow-x: auto;
	padding: 1em 2em;
}

pre.wp-block-preformatted,
pre.wp-block-verse {
	white-space: wrap;
	white-space: pre-wrap;
}

pre.wp-block-verse {
	font-family: var(--wp--preset--font-family--montserrat);
	padding: 1em 2em 0;
}
