.wp-block-image figcaption {
	color: var(--wp--custom--wsu-color-black--70);
	font-size: var(--wp--preset--font-size--small);
	letter-spacing: 0.02em;
	line-height: normal;
	margin-top: 0;
	padding: 0.3em 0.5em 0;
	text-align: inherit;
}
