/**
 * The Posts home page.
 *
 * @since 0.15.0
 */

.blog .latest .articles-list .article-title,
.blog .features .articles-list .article-title {
	font-size: var(--wp--custom--typography--largex);
	line-height: 1.4;
}

.blog .hrs-units-browse {
	border-top: 2px solid var(--wp--custom--wsu-color-black--10);
	border-bottom: 2px solid var(--wp--custom--wsu-color-black--10);
	text-align: center;

	& ul {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		font-size: var(--wp--custom--typography--normalx);
		justify-content: center;
		list-style-type: none;

		& a {
			display: block;
			padding: 0.5em;
			text-decoration-color: var(--wp--preset--color--secondary-crimson);
			text-decoration-thickness: 0.1em;
			transition: all 0.3s ease;

			&:hover,
			&:focus {
				text-decoration-thickness: 0.2em;
			}
		}
	}
}

.blog .article-archive h2 {
	margin-bottom: 2.25rem;
	text-align: center;
	text-transform: capitalize;
}
