main input[type="submit"] {
	background: var(--brand-crimson);
	color: #fff;
	border: 1px solid var(--brand-crimson);
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: var(--wp--preset--font-size--normal);
	letter-spacing: 0.85px;
	line-height: 1.5;
	overflow-wrap: break-word;
	padding: 0.75rem 1.5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
	white-space: normal;

	&:hover,
	&:focus {
		background: #fff;
		border-color: var(--nav-color-hover);
		border-width: 1px;
		color: var(--nav-color-hover);
		outline: none;
	}

	&:active {
		background: var(--neutral-light);
		border: 1px solid var(--brand-crimson);
		color: var(--nav-color-hover);
	}
}
